.exp-invert-logo .hats-logo {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_mini_gray-vflfanGkh.png);
 width: 65px !important;
 height: 15px !important;
}
.exp-invert-logo #header:before,
.exp-invert-logo .ypc-join-family-header .logo,
.exp-invert-logo #footer-logo .footer-logo-icon,
.exp-invert-logo #yt-masthead #logo-container .logo,
.exp-invert-logo #masthead #logo-container,
.exp-invert-logo .admin-masthead-logo a,
.exp-invert-logo #yt-sidebar-styleguide-logo #logo {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_small-vflHpzGZm.png);
 width: 100px !important;
 height: 30px !important;
}
.exp-invert-logo.inverted-hdpi #header:before,
.exp-invert-logo.inverted-hdpi .ypc-join-family-header .logo,
.exp-invert-logo.inverted-hdpi #footer-logo .footer-logo-icon,
.exp-invert-logo.inverted-hdpi #yt-masthead #logo-container .logo,
.exp-invert-logo.inverted-hdpi #masthead #logo-container,
.exp-invert-logo.inverted-hdpi .admin-masthead-logo a,
.exp-invert-logo.inverted-hdpi #yt-sidebar-styleguide-logo #logo {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_small_2x-vfl4_cFqn.png);
 background-size: 100px 30px !important;
 width: 100px !important;
 height: 30px !important;
}
.exp-invert-logo.exp-fusion-nav-redesign .masthead-logo-renderer-logo {
 background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo-vflLfk4yD.png);
 width: 40px !important;
 height: 28px !important;
}
.exp-invert-logo.inverted-hdpi.exp-fusion-nav-redesign .masthead-logo-renderer-logo {
 background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo_2x-vflXx5Pg3.png);
 width: 40px !important;
 height: 28px !important;
}
@media screen and (max-width: 656px) {
 .exp-invert-logo #yt-masthead #logo-container .logo {
  background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo-vflLfk4yD.png);
  width: 40px !important;
  height: 28px !important;
 }
 .exp-invert-logo.inverted-hdpi #yt-masthead #logo-container .logo {
  background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo_2x-vflXx5Pg3.png);
  background-size: 40px 28px !important;
  width: 40px !important;
  height: 28px !important;
 }
}
@media only screen and (min-width: 0px) and (max-width: 498px),only screen and (min-width: 499px) and (max-width: 704px) {
 .exp-invert-logo.exp-responsive #yt-masthead #logo-container {
  background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo-vflLfk4yD.png);
  width: 40px !important;
  height: 28px !important;
 }
 .exp-invert-logo.inverted-hdpi.exp-responsive #yt-masthead #logo-container {
  background: no-repeat url(/yts/img/ringo/hitchhiker/yt_play_logo_2x-vflXx5Pg3.png);
  background-size: 40px 28px !important;
  width: 40px !important;
  height: 28px !important;
 }
}
.exp-invert-logo #yt-masthead #logo-container .logo-red {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_youtube_red-vflZxcSR1.png);
 width: 132px !important;
 height: 30px !important;
}
.exp-invert-logo.inverted-hdpi #yt-masthead #logo-container .logo-red {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_youtube_red_2x-vflOSHA_n.png);
 background-size: 132px 30px !important;
 width: 132px !important;
 height: 30px !important;
}
.exp-invert-logo #yt-masthead #logo-container .logo-premium {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_youtube_premium-vfltrvziB.png);
 width: 108px !important;
 height: 30px !important;
}
.exp-invert-logo.inverted-hdpi #yt-masthead #logo-container .logo-premium {
 background: no-repeat url(/yts/img/ringo/hitchhiker/logo_youtube_premium_2x-vflxcbz_g.png);
 background-size: 108px 30px !important;
 width: 108px !important;
 height: 30px !important;
}
.exp-invert-logo .guide-item .guide-video-youtube-red-icon {
 background: no-repeat url(/yts/img/ringo/hitchhiker/video_youtube_red-vflovGTdz.png);
 width: 20px !important;
 height: 20px !important;
}
.exp-invert-logo.inverted-hdpi .guide-item .guide-video-youtube-red-icon {
 background: no-repeat url(/yts/img/ringo/hitchhiker/video_youtube_red_2x-vflqMdgEM.png);
 background-size: 20px 20px !important;
 width: 20px !important;
 height: 20px !important;
}
.exp-invert-logo .guide-item:hover .guide-video-youtube-red-icon,
.exp-invert-logo .guide-item.guide-item-selected .guide-video-youtube-red-icon {
 background: no-repeat url(/yts/img/ringo/hitchhiker/video_youtube_red_hover-vflgV4Gv0.png);
 width: 20px !important;
 height: 20px !important;
}
.exp-invert-logo.inverted-hdpi .guide-item:hover .guide-video-youtube-red-icon,
.exp-invert-logo.inverted-hdpi .guide-item.guide-item-selected .guide-video-youtube-red-icon {
 background: no-repeat url(/yts/img/ringo/hitchhiker/video_youtube_red_hover_2x-vflYjZHvf.png);
 background-size: 20px 20px !important;
 width: 20px !important;
 height: 20px !important;
}
.exp-invert-logo li.guide-section h3,
.exp-invert-logo li.guide-section h3 a {
 color: #f00 !important;
}
.exp-invert-logo a.yt-uix-button-epic-nav-item:hover,
.exp-invert-logo a.yt-uix-button-epic-nav-item.selected,
.exp-invert-logo a.yt-uix-button-epic-nav-item.yt-uix-button-toggled,
.exp-invert-logo a.yt-uix-button-epic-nav-item.partially-selected,
.exp-invert-logo a.yt-uix-button-epic-nav-item.partially-selected:hover,
.exp-invert-logo button.yt-uix-button-epic-nav-item:hover,
.exp-invert-logo button.yt-uix-button-epic-nav-item.selected,
.exp-invert-logo button.yt-uix-button-epic-nav-item.yt-uix-button-toggled,
.exp-invert-logo .epic-nav-item:hover,
.exp-invert-logo .epic-nav-item.selected,
.exp-invert-logo .epic-nav-item.yt-uix-button-toggled,
.exp-invert-logo .epic-nav-item-heading,
.exp-invert-logo .yt-gb-shelf-item-thumbtab.yt-gb-selected-shelf-tab::before {
 border-color: #f00 !important;
}
.exp-invert-logo .resume-playback-progress-bar,
.exp-invert-logo .yt-uix-button-subscribe-branded,
.exp-invert-logo .yt-uix-button-subscribe-branded[disabled],
.exp-invert-logo .yt-uix-button-subscribe-branded[disabled]:hover,
.exp-invert-logo .yt-uix-button-subscribe-branded[disabled]:active,
.exp-invert-logo .yt-uix-button-subscribe-branded[disabled]:focus,
.exp-invert-logo .sb-notif-on .yt-uix-button-content,
.exp-invert-logo .guide-item.guide-item-selected,
.exp-invert-logo .guide-item.guide-item-selected:hover,
.exp-invert-logo .guide-item.guide-item-selected .yt-deemphasized-text,
.exp-invert-logo .guide-item.guide-item-selected:hover .yt-deemphasized-text {
 background-color: #f00 !important;
}
.exp-invert-logo .yt-uix-button-subscribe-branded:hover {
 background-color: #d90a17 !important;
}
.exp-invert-logo .yt-uix-button-subscribe-branded.yt-is-buffered,
.exp-invert-logo .yt-uix-button-subscribe-branded:active,
.exp-invert-logo .yt-uix-button-subscribe-branded.yt-uix-button-toggled,
.exp-invert-logo .yt-uix-button-subscribe-branded.yt-uix-button-active,
.exp-invert-logo .yt-uix-button-subscribed-branded.external,
.exp-invert-logo .yt-uix-button-subscribed-branded.external[disabled],
.exp-invert-logo .yt-uix-button-subscribed-branded.external:active,
.exp-invert-logo .yt-uix-button-subscribed-branded.external.yt-uix-button-toggled,
.exp-invert-logo .yt-uix-button-subscribed-branded.external.yt-uix-button-active {
 background-color: #a60812 !important;
}
