@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2)format('woff2');
 unicode-range:U+0460-052F,
 U+1C80-1C88,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F,
 U+FE2E-FE2F !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2)format('woff2');
 unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116 !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2)format('woff2');
 unicode-range:U+1F00-1FFF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2)format('woff2');
 unicode-range:U+0370-03FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2)format('woff2');
 unicode-range:U+0102-0103,
 U+0110-0111,
 U+0128-0129,
 U+0168-0169,
 U+01A0-01A1,
 U+01AF-01B0,
 U+1EA0-1EF9,
 U+20AB !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2)format('woff2');
 unicode-range:U+0100-024F,
 U+0259,
 U+1E00-1EFF,
 U+2020,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2113,
 U+2C60-2C7F,
 U+A720-A7FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:500 !important;
 src:local('Roboto Medium Italic'),
 local('Roboto-MediumItalic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2)format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2)format('woff2');
 unicode-range:U+0460-052F,
 U+1C80-1C88,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F,
 U+FE2E-FE2F !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2)format('woff2');
 unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116 !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2)format('woff2');
 unicode-range:U+1F00-1FFF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2)format('woff2');
 unicode-range:U+0370-03FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2)format('woff2');
 unicode-range:U+0102-0103,
 U+0110-0111,
 U+0128-0129,
 U+0168-0169,
 U+01A0-01A1,
 U+01AF-01B0,
 U+1EA0-1EF9,
 U+20AB !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2)format('woff2');
 unicode-range:U+0100-024F,
 U+0259,
 U+1E00-1EFF,
 U+2020,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2113,
 U+2C60-2C7F,
 U+A720-A7FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:italic !important;
 font-weight:400 !important;
 src:local('Roboto Italic'),
 local('Roboto-Italic'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2)format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2)format('woff2');
 unicode-range:U+0460-052F,
 U+1C80-1C88,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F,
 U+FE2E-FE2F !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)format('woff2');
 unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116 !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)format('woff2');
 unicode-range:U+1F00-1FFF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)format('woff2');
 unicode-range:U+0370-03FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)format('woff2');
 unicode-range:U+0102-0103,
 U+0110-0111,
 U+0128-0129,
 U+0168-0169,
 U+01A0-01A1,
 U+01AF-01B0,
 U+1EA0-1EF9,
 U+20AB !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)format('woff2');
 unicode-range:U+0100-024F,
 U+0259,
 U+1E00-1EFF,
 U+2020,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2113,
 U+2C60-2C7F,
 U+A720-A7FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:400 !important;
 src:local('Roboto Regular'),
 local('Roboto-Regular'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2)format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2)format('woff2');
 unicode-range:U+0460-052F,
 U+1C80-1C88,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F,
 U+FE2E-FE2F !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2)format('woff2');
 unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116 !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2)format('woff2');
 unicode-range:U+1F00-1FFF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2)format('woff2');
 unicode-range:U+0370-03FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2)format('woff2');
 unicode-range:U+0102-0103,
 U+0110-0111,
 U+0128-0129,
 U+0168-0169,
 U+01A0-01A1,
 U+01AF-01B0,
 U+1EA0-1EF9,
 U+20AB !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2)format('woff2');
 unicode-range:U+0100-024F,
 U+0259,
 U+1E00-1EFF,
 U+2020,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2113,
 U+2C60-2C7F,
 U+A720-A7FF !important;
}
@font-face {
 font-family:'Roboto';
 font-style:normal !important;
 font-weight:500 !important;
 src:local('Roboto Medium'),
 local('Roboto-Medium'),
 url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2)format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD !important;
}
