/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.w3.org/1999/xhtml");

.videocontrols {
  writing-mode: horizontal-tb !important;
  width: 100%;
  height: 100%;
  display: inline-block !important;
  overflow: hidden !important;

  direction: ltr !important;
  /* Prevent unwanted style inheritance. See bug 554717. */
  text-align: left !important;
  list-style-image: none  !important;
  font: normal normal normal 100%/normal sans-serif  !important;
  text-decoration: none  !important;
  white-space: normal  !important;
}

.controlsContainer {
  --clickToPlay-size: 48px !important;
  --button-size: 30px !important;
  --timer-size: 40px !important;
  --timer-long-size: 60px !important;
  --track-size: 5px !important;
  --thumb-size: 13px !important;
  --label-font-size: 13px !important;
  --pip-toggle-bgcolor: rgb(0, 96, 223);
  --pip-toggle-text-and-icon-color: rgb(255, 255, 255);
  --pip-toggle-padding: 5px !important;
  --pip-toggle-icon-width-height: 16px !important;
}
.controlsContainer.touch {
  --clickToPlay-size: 64px !important;
  --button-size: 40px !important;
  --timer-size: 52px !important;
  --timer-long-size: 78px !important;
  --track-size: 7px !important;
  --thumb-size: 16px !important;
  --label-font-size: 16px !important;
}

/* Some CSS custom properties defined here are referenced by videocontrols.js */
.controlBar {
  /* Do not delete: these variables are accessed by JavaScript directly.
     see videocontrols.js and search for |-width|. */
  --clickToPlay-width: var(--clickToPlay-size);
  --playButton-width: var(--button-size);
  --scrubberStack-width: 64px !important;
  --muteButton-width: var(--button-size);
  --volumeStack-width: 48px !important;
  --castingButton-width: var(--button-size);
  --closedCaptionButton-width: var(--button-size);
  --fullscreenButton-width: var(--button-size);
  --positionDurationBox-width: var(--timer-size);
  --durationSpan-width: var(--timer-size);
  --positionDurationBox-width-long: var(--timer-long-size);
  --durationSpan-width-long: var(--timer-long-size);
}

.touch .controlBar {
  /* Do not delete: these variables are accessed by JavaScript directly.
     see videocontrols.js and search for |-width|. */
  --scrubberStack-width: 84px !important;
  --volumeStack-width: 64px !important;
}

.controlsContainer [hidden],
.controlBar[hidden],
.pictureInPictureToggleButton[hidden],
.videocontrols[inDOMFullscreen] > .controlsContainer > .controlsOverlay > .pictureInPictureToggleButton {
  display: none !important;
}

.controlBar[size="hidden"] {
  display: none !important;
}

.controlsSpacer[hideCursor] {
  cursor: none !important;
}

.controlsContainer,
.progressContainer {
  position: relative !important;
  height: 100%;
}

.stackItem {
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  height: 100%;
}

.statusOverlay {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(80,80,80, .85);
}

.controlsOverlay {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: relative !important;
}

.controlsSpacerStack {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  justify-content: center !important;
  align-items: center !important;
}

.controlBar {
  position: relative !important;
  display: flex !important;
  box-sizing: border-box !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden !important;
  height: 40px !important;
  padding: 0 9px !important;
  background-color: rgba(26,26,26,.8);
}

.touch .controlBar {
  height: 52px !important;
}

.controlBar > .button {
  height: 100%;
  min-width: var(--button-size);
  min-height: var(--button-size);
  padding: 6px !important;
  border: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-origin: content-box !important;
  background-clip: content-box !important;
  -moz-context-properties: fill !important;
  fill: #ffffff !important;
}

.touch .controlBar > .button {
  background-size: 24px 24px !important;
}

.controlBar > .button:hover {
  fill: #48a0f7 !important;
}

.controlBar > .button:hover:active {
  fill: #2d89e6 !important;
}

.playButton {
  background-image: url(chrome://global/skin/media/pauseButton.svg);
}
.playButton[paused] {
  background-image: url(chrome://global/skin/media/playButton.svg);
}

.muteButton {
  background-image: url(chrome://global/skin/media/audioUnmutedButton.svg);
}
.muteButton[muted] {
  background-image: url(chrome://global/skin/media/audioMutedButton.svg);
}
.muteButton[noAudio],
.muteButton[noAudio]:hover,
.muteButton[noAudio]:hover:active {
  background-image: url(chrome://global/skin/media/audioNoAudioButton.svg);
  fill: white !important;
}
.muteButton[noAudio] + .volumeStack {
  display: none !important;
}

.castingButton {
  background-image: url(chrome://global/skin/media/castingButton-ready.svg);
}

.castingButton[enabled] {
  background-image: url(chrome://global/skin/media/castingButton-active.svg);
}

.closedCaptionButton {
  background-image: url(chrome://global/skin/media/closedCaptionButton-cc-off.svg);
}
.closedCaptionButton[enabled] {
  background-image: url(chrome://global/skin/media/closedCaptionButton-cc-on.svg);
}

.fullscreenButton {
  background-image: url(chrome://global/skin/media/fullscreenEnterButton.svg);
}
.fullscreenButton[fullscreened] {
  background-image: url(chrome://global/skin/media/fullscreenExitButton.svg);
}

.controlBarSpacer {
  flex-grow: 1 !important;
}

.volumeControl::-moz-range-thumb,
.scrubber::-moz-range-thumb {
  height: var(--thumb-size);
  width: var(--thumb-size);
  border: none !important;
  border-radius: 50%;
  background-color: #ffffff !important;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.65));
}

.volumeControl::-moz-focus-outer,
.scrubber::-moz-focus-outer {
  border: 0 !important;
}

.progressBackgroundBar {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.progressStack {
  position: relative !important;
  width: 100%;
  height: var(--track-size);
}

.scrubberStack {
  /* minus margin to get basis of required width */
  min-width: calc(var(--scrubberStack-width) - 18px);
  flex-basis: calc(var(--scrubberStack-width) - 18px);
  flex-grow: 2 !important;
  flex-shrink: 0 !important;
  margin: 0 9px !important;
}

.volumeStack {
  max-width: 60px !important;
  min-width: var(--volumeStack-width);
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  margin-right: 6px !important;
  margin-left: 4px !important;
}

.bufferBar,
.progressBar,
.scrubber,
.volumeBackground,
.volumeControl {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  border: 0 !important;
  border-radius: calc(var(--track-size) / 2);
  margin: 0 !important;
  background: none !important;
  background-color: transparent !important;
}

.bufferBar,
.volumeBackground {
  background-color: rgba(0,0,0,0.7);
}

.bufferBar::-moz-progress-bar,
.progressBar::-moz-progress-bar,
.volumeBackground::-moz-meter-bar {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: calc(var(--track-size) / 2);
  background: none !important;
}

.scrubber:hover::-moz-range-thumb,
.volumeControl:hover::-moz-range-thumb {
  background-color: #48a0f7 !important;
}

.scrubber:active::-moz-range-thumb,
.volumeControl:active::-moz-range-thumb {
  background-color: #2d89e6 !important;
}

.scrubber::-moz-range-track,
.scrubber::-moz-range-progress {
  background-color: transparent !important;
}

.volumeControl::-moz-range-progress,
.volumeControl::-moz-range-track {
  height: var(--track-size);
  border-radius: calc(var(--track-size) / 2);
}

.volumeControl::-moz-range-progress {
  background-color: #ffffff !important;
}

.volumeControl::-moz-range-track {
  background-color: rgba(0,0,0,0.7);
}


.bufferBar::-moz-progress-bar {
  background-color: rgba(255,255,255,0.3);
  border-radius: calc(var(--track-size) / 2);
}

.progressBar::-moz-progress-bar {
  background-color: #00b6f0 !important;
}

.textTrackList {
  position: absolute !important;
  right: 5px !important;
  bottom: 45px !important;
  max-width: 80%;
  border: 1px solid #000000 !important;
  border-radius: 2.5px !important;
  padding: 5px 0 !important;
  vertical-align: middle !important;
  background-color: #000000 !important;
  opacity: 0.7 !important;
}

.touch .textTrackList {
  bottom: 58px !important;
}

.textTrackList > .textTrackItem {
  display: block !important;
  width: 100%;
  height: var(--button-size);
  font-size: var(--label-font-size);
  padding: 2px 10px !important;
  border: none !important;
  margin: 0 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-align: left !important;
  text-overflow: ellipsis !important;
  color: #ffffff !important;
  background-color: transparent !important;
}

.textTrackList > .textTrackItem:hover {
  background-color: #444444 !important;
}

.textTrackList > .textTrackItem[on] {
  color: #48a0f7 !important;
}

.positionLabel,
.durationLabel {
  display: none !important;
}

.positionDurationBox {
  text-align: center !important;
  padding-inline-start: 1px !important;
  padding-inline-end: 9px !important;
  white-space: nowrap !important;
  font: message-box !important;
  font-size: var(--label-font-size);
  font-size-adjust: 0.55 !important;
  color: #ffffff !important;
}


.duration {
  display: inline-block !important;
  white-space: pre !important;
  color: #929292 !important;
}

.statusIcon {
  width: 36px !important;
  height: 36px !important;
  margin-bottom: 20px !important;
}

/* Not showing the throbber on mobile because of conflict with m.youtube.com (see bug 1289412) */
.controlsContainer:not(.mobile) .statusIcon[type="throbber"] {
  background: url(chrome://global/skin/media/throbber.png) no-repeat center !important;
}

.controlsContainer:not(.mobile) .statusIcon[type="throbber"][stalled] {
  background: url(chrome://global/skin/media/stalled.png) no-repeat center !important;
}

.statusIcon[type="error"],
.statusIcon[type="pictureInPicture"] {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.statusIcon[type="error"] {
  min-width: 70px !important;
  min-height: 60px !important;
  background-image: url(chrome://global/skin/media/error.png);
}

.statusIcon[type="pictureInPicture"] {
  min-width: 84px !important;
  min-height: 84px !important;
  background-image: url(chrome://global/skin/media/pictureinpicture.svg);
  -moz-context-properties: fill, stroke !important;
  fill: #fff !important;
  stroke: #fff !important;
}

.pictureInPictureToggleButton {
  display: flex !important;
  -moz-appearance: none !important;
  position: absolute !important;
  background-color: var(--pip-toggle-bgcolor);
  color: var(--pip-toggle-text-and-icon-color);
  border: 0 !important;
  padding: var(--pip-toggle-padding);
  right: 0 !important;
  top: 50%;
  transform: translateY(-50%) translateX(calc(100% - var(--pip-toggle-icon-width-height) - 2 * var(--pip-toggle-padding)));
  transition: opacity 160ms linear, transform 160ms linear !important;
  min-width: max-content !important;
  pointer-events: auto !important;
  opacity: 0 !important;
}

.pictureInPictureToggleIcon {
  display: inline-block !important;
  background-image: url(chrome://global/skin/media/pictureinpicture.svg);
  background-position: center left !important;
  background-repeat: no-repeat !important;
  -moz-context-properties: fill, stroke !important;
  fill: var(--pip-toggle-text-and-icon-color);
  stroke: var(--pip-toggle-text-and-icon-color);
  width: var(--pip-toggle-icon-width-height);
  height: var(--pip-toggle-icon-width-height);
  min-width: max-content !important;
}

.statusIcon[type="pictureInPicture"]:dir(rtl),
.pictureInPictureToggleIcon:dir(rtl) {
  transform: scaleX(-1);
}

.pictureInPictureToggleLabel {
  margin-inline-start: var(--pip-toggle-padding);
}

/**
 * For the Picture-in-Picture toggle, we don't use the built-in :hover
 * pseudoclass because there are many sites where the arrangement of the DOM
 * or the CSS will conspire to prevent :hover from matching on the <video>
 * itself. PictureInPictureToggleChild takes care of punching through those
 * barriers, and manually sets a .hovering class.
 */

.controlsOverlay.hovering > .pictureInPictureToggleButton {
  opacity: 0.8 !important;
}

.controlsOverlay[hidetoggle="true"].hovering > .pictureInPictureToggleButton:not(.hovering) {
  opacity: 0 !important;
}

.controlsOverlay.hovering > .pictureInPictureToggleButton.hovering {
  opacity: 1 !important;
  transform: translateY(-50%) translateX(0);
}

@supports -moz-bool-pref("media.videocontrols.picture-in-picture.video-toggle.testing") {
  /**
   * To make automated tests faster, we drop the transition duration in
   * testing mode.
   */
  .pictureInPictureToggleButton {
    transition-duration: 10ms !important;
  }
}

/* Overlay Play button */
.clickToPlay {
  min-width: var(--clickToPlay-size);
  min-height: var(--clickToPlay-size);
  border-radius: 50%;
  background-image: url(chrome://global/skin/media/playButton.svg);
  background-repeat: no-repeat !important;
  background-position: 54% 50%;
  background-size: 40% 40%;
  background-color: #1a1a1a !important;
  -moz-context-properties: fill !important;
  fill: #ffffff !important;
  opacity: 0.8 !important;
  position: relative !important;
  top: 20px !important;
}

.controlsSpacerStack:hover > .clickToPlay,
.clickToPlay:hover {
  opacity: 0.55 !important;
}

.controlsSpacerStack:hover > .clickToPlay[fadeout] {
  opacity: 0 !important;
}

.controlBar[fullscreen-unavailable] .fullscreenButton {
  display: none !important;
}

.statusOverlay[fadeout],
.statusOverlay[error] + .controlsOverlay > .controlsSpacerStack {
  opacity: 0 !important;
}

.pictureInPictureOverlay {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 1 !important;
  background-color: rgb(12, 12, 13);
}

/* Status description formatting */
.statusLabel {
  padding: 0 10px !important;
  text-align: center !important;
  font: message-box !important;
  font-size: 14px !important;
  color: #ffffff !important;
}

.statusLabel {
  display: none !important;
}

[status="errorAborted"]         > [id="errorAborted"],
[status="errorNetwork"]         > [id="errorNetwork"],
[status="errorDecode"]          > [id="errorDecode"],
[status="errorSrcNotSupported"] > [id="errorSrcNotSupported"],
[status="errorNoSource"]        > [id="errorNoSource"],
[status="errorGeneric"]         > [id="errorGeneric"],
[status="pictureInPicture"]     > [id="pictureInPicture"] {
  display: inline !important;
}

@media (-moz-windows-default-theme: 0) {
  .controlsSpacer,
  .clickToPlay {
    background-color: transparent !important;
  }
}
