.yt-uix-button-lockup-action-close {
 width:20px !important;
 height:20px !important;
 border:none !important;
 padding:0 !important;
 padding-bottom:3px !important;
 background:transparent !important;
 cursor:pointer !important;
 box-shadow:none
}
.yt-uix-button-lockup-action-close:before {
 opacity:.5 !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -511px !important;
 background-size:auto !important;
 width:10px !important;
 height:10px
}
.yt-lockup .yt-uix-button-lockup-action-close {
 opacity:0 !important;
 filter:alpha(opacity=0)
}
.yt-lockup:hover .yt-uix-button-lockup-action-close,
.yt-uix-button-lockup-action-close:focus {
 opacity:1 !important;
 filter:alpha(opacity=100)
}
.yt-uix-button-action-menu,
.yt-uix-button-action-menu:focus:hover,
.yt-uix-button-lockup-action-menu,
.yt-uix-button-lockup-action-menu:focus:hover {
 box-shadow:none
}
.yt-uix-button-action-menu .yt-uix-button-arrow {
 display:none
}
.yt-uix-button-action-menu:before,
.yt-uix-button-lockup-action-menu:before {
 opacity:.8 !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -38px -900px !important;
 background-size:auto !important;
 width:13px !important;
 height:13px
}
.yt-uix-button-action-menu:hover:before,
.yt-uix-button-active.yt-uix-button-lockup-action-menu:before {
 opacity:1 !important;
 filter:alpha(opacity=100)
}
.yt-uix-button-action-menu,
.yt-uix-button-lockup-action-menu {
 width:20px !important;
 height:20px !important;
 border:none !important;
 padding:0 !important;
 background:transparent !important;
 cursor:pointer
}
#browse-items-primary .item-section>li>.yt-lockup-tile .yt-uix-menu-top-level-button,
.yt-section-hover-container .yt-uix-button-action-menu,
.yt-section-hover-container .yt-uix-menu-top-level-button {
 opacity:.5 !important;
 filter:alpha(opacity=50)
}
.yt-lockup .yt-uix-button-action-menu,
.yt-lockup .yt-uix-button-lockup-action-menu,
.video-list-item .related-item-action-menu .yt-uix-button {
 opacity:0 !important;
 filter:alpha(opacity=0)
}
#browse-items-primary .item-section>li>.yt-lockup-tile:hover .yt-uix-menu-top-level-button,
.yt-section-hover-container .yt-uix-button-action-menu.yt-uix-button-active,
.yt-section-hover-container .yt-uix-menu-top-level-flow-button,
.yt-section-hover-container:hover .yt-uix-button-action-menu,
.yt-section-hover-container:hover .yt-uix-menu-top-level-button,
.yt-lockup .yt-uix-button-action-menu.yt-uix-button-active,
.yt-lockup:hover .yt-uix-button-action-menu,
.yt-uix-menu-trigger.yt-uix-menu-trigger-selected .yt-uix-button-action-menu,
.yt-uix-button-action-menu:focus,
.yt-lockup .yt-uix-button-lockup-action-menu.yt-uix-button-active,
.yt-lockup:hover .yt-uix-button-lockup-action-menu,
.yt-uix-button-lockup-action-menu:focus,
.yt-uix-menu-trigger.yt-uix-menu-trigger-selected .yt-uix-button-lockup-action-menu,
.video-list-item:hover .related-item-action-menu .yt-uix-button {
 opacity:1 !important;
 filter:alpha(opacity=100)
}
.overlay-confirmation-preferences-dialog,
.subscription-preferences-overlay-loading {
 width:330px !important;
 min-height:140px !important;
 overflow:hidden
}
.subscription-preferences-overlay-loading .yt-spinner {
 padding-top:60px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-preferences-container {
 width:330px
}
.overlay-confirmation-preferences-dialog .yt-uix-button-subscription-container {
 margin-left:10px !important;
 display:inline-block
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-content {
 margin-top:15px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-menu {
 margin-left:5px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-channel-info {
 margin-top:20px !important;
 font-size:18px !important;
 font-weight:500 !important;
 line-height:20px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-delivery-method {
 color:#767676 !important;
 margin-top:28px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-preferences-option:not(.none) {
 height:24px !important;
 margin-bottom:8px
}
.overlay-confirmation-preferences-dialog .overlay-confirmation-preferences-update-frequency,
.overlay-confirmation-preferences-dialog .receive-post-updates {
 padding-right:8px
}
.overlay-confirmation-preferences-dialog .yt-horizontal-rule.overlay-confirmation-content-divider,
.overlay-confirmation-preferences-dialog .yt-horizontal-rule overlay-confirmation-content-divider {
 margin:14px 0
}
.subscription-preferences-overlay-content .yt-uix-button-size-default {
 min-width:60px
}
.subscription-preferences-overlay-content .yt-uix-overlay-actions {
 padding:16px
}
.unsubscribe-confirmation-overlay-content .unsubscribe-confirmation-message {
 margin-top:20px
}
#yt-keyboard-shortcuts-dialog .yt-dialog-title {
 border-bottom:1px solid #767676 !important;
 color:#fff !important;
 line-height:2em !important;
 margin-bottom:10px !important;
 padding-top:10px
}
#yt-keyboard-shortcuts-close .yt-uix-button-content {
 line-height:2em
}
#yt-keyboard-shortcuts-dialog .yt-dialog-fg {
 background-color:rgba(0,0,0,0.85);
 border:none !important;
 border-radius:10px
}
#yt-keyboard-shortcuts-dialog .yt-dialog-fg-content {
 color:#fff !important;
 font-weight:normal
}
.yt-keyboard-shortcuts-clickable,
.yt-keyboard-shortcut-group,
.yt-keyboard-shortcut-key {
 color:#dd0 !important;
 font-weight:500
}
.yt-keyboard-shortcuts-clickable {
 cursor:pointer !important;
 text-decoration:underline
}
#yt-keyboard-shortcuts {
 outline:0
}
.yt-keyboard-shortcuts {
 display:inline-table
}
.yt-keyboard-shortcuts:nth-child(n+2) {
 margin-left:30px
}
.yt-keyboard-shortcut {
 display:table-row !important;
 white-space:nowrap
}
.yt-keyboard-shortcut-keys {
 text-align:right !important;
 display:table-cell
}
.yt-keyboard-shortcut-action {
 display:table-cell
}
.yt-keyboard-shortcut-delimeter {
 margin-right:5px
}
.yt-keyboard-shortcut-key {
 font-family:monospace
}
.yt-picker {
 margin-right:20px
}
.yt-picker-header {
 margin-bottom:10px !important;
 border-bottom:1px solid #eee
}
.yt-picker-header .yt-close {
 float:right
}
.yt-picker-header h3.yt {
 margin-bottom:3px
}
.yt-picker-content {
 font-size:11px
}
.yt-picker-content a,
.yt-picker-content button {
 display:block !important;
 line-height:14px !important;
 margin:8px 0
}
.yt-picker-content strong {
 display:block !important;
 line-height:14px !important;
 margin:8px 0 !important;
 color:#000
}
.yt-picker-section {
 text-align:left !important;
 padding-left:5px !important;
 padding-right:5px
}
.yt-picker-grid {
 vertical-align:top !important;
 font-size:11px !important;
 width:165px !important;
 margin-right:14px !important;
 display:inline-block
}
.yt-picker-hr {
 border:0 !important;
 border-top:1px solid #eee !important;
 margin:10px 0 20px
}
.yt-picker.yt-uix-button-menu-external {
 width:900px !important;
 padding:10px
}
.yt-picker.yt-uix-button-menu-external .yt-close {
 display:none
}
#yt-picker-country-footer,
#yt-picker-language-footer,
#yt-picker-safetymode-footer {
 color:#666 !important;
 margin-top:5px !important;
 padding:10px !important;
 background:#fff !important;
 border-radius:3px !important;
 box-shadow:0 1px 2px #ccc
}
#safety-mode-description ul {
 margin-left:0 !important;
 list-style:disc
}
#safety-mode-description li {
 margin-left:1.5em !important;
 margin-bottom:0
}
#safety-form {
 font-size:11px
}
#yt-picker-safetymode-footer a,
#yt-picker-safetymode-footer button,
#yt-picker-safetymode-footer strong {
 display:inline
}
#safety-form label {
 font-weight:500
}
#safety-form label+label {
 margin-left:10px
}
#safety-form p {
 margin:5px 0
}
#safety-form p.safety-submit {
 border-top:1px solid #eee !important;
 margin-top:10px !important;
 padding-top:10px
}
#safety-mode-unlock-section p {
 font-weight:500 !important;
 margin-top:15px
}
#safety-mode-unlock-section li {
 margin-bottom:5px
}
.yt-picker-region-flag {
 float:left !important;
 margin-right:5px !important;
 height:13px !important;
 width:18px
}
.yt-picker-region-name {
 overflow:hidden
}
.flag_worldwide {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1905px !important;
 background-size:auto !important;
 width:17px !important;
 height:11px
}
.flag_AFG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -834px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_AGO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -868px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ALB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -204px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_AND {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -511px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ARE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -970px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ARG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3127px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ARM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2838px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ATG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -596px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_AUS {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1480px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_AUT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2804px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_AZE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -664px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BDI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1803px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BEL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -630px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BEN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1072px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BFA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2022px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BGD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -256px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BGR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1786px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BHR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2277px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BHS {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1123px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BIH {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2515px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BLR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3008px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BLZ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -17px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BOL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -341px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BRA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -102px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BRB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -375px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BRN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1854px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BTN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1616px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_BWA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -290px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CAF {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2600px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CAN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1548px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CHE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -307px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CHL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -715px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CHN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -187px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CIV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1971px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CMR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2753px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_COD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2192px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_COG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1752px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_COL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2855px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_COM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2209px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CPV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3229px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CRI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2260px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CUB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3059px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CYP {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1140px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_CZE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1361px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DEU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1004px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DJI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2107px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DMA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1920px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DNK {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2345px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DOM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1599px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_DZA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1242px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ECU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1701px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_EGY {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2736px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ERI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1310px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ESP {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1837px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_EST {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3161px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ETH {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2481px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_FIN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1191px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_FJI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2124px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_FRA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -119px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_FSM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1038px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GAB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1378px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GBR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -613px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GEO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2362px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GHA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2668px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GIN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2940px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GMB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -68px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GNB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1633px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GNQ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 0 !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GRC {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2719px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GRD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2175px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GTM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2073px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_GUY {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1871px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_HKG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2872px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_HND {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1395px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_HRV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2226px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_HTI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -936px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_HUN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1412px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_IDN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1344px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_IND {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3093px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_IRL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1565px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_IRN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1514px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_IRQ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -647px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ISL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2821px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ISR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3076px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ITA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2498px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_JAM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3212px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_JOR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1225px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_JPN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1174px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KAZ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2090px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KEN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -817px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KGZ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2991px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KHM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2651px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KIR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2770px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KNA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3110px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KOR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2787px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_KWT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2702px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LAO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -273px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LBN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1293px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LBR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1021px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LBY {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3025px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LCA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -953px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LIE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2549px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LKA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1988px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LSO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1667px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LTU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -902px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LUX {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -698px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_LVA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -392px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MAR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1718px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MCO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3246px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MDA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -477px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MDG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2430px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MDV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -221px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MEX {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -851px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MHL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2379px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MKD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -766px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MLI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2889px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MLT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1106px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MMR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1463px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MNE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -238px !important;
 background-size:auto !important;
 width:18px !important;
 height:14px
}
.flag_MNG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2141px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MOZ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1820px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MRT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -51px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MUS {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3280px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MWI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2566px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_MYS {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2906px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NAM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3297px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NER {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -749px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NGA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2957px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NIC {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2294px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NLD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2005px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NOR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1497px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NPL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2974px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NRU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2583px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_NZL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -800px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_OMN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -409px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PAK {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -885px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PAN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1684px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PER {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1055px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PHL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2447px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PLW {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -460px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PNG {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2617px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_POL {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3042px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PRI {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3263px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PRK {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -494px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PRT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3178px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_PRY {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1157px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_QAT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1327px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ROU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -358px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_RUS {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -732px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_RWA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2532px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SAU {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2685px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SDN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1888px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SEN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -562px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SGP {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -987px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SLB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1650px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SLE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -85px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SLV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1531px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SMR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1208px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SOM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2328px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SRB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1954px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_STP {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -153px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SUR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2634px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SVK {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1446px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SVN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -783px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SWE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1429px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SWZ {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2158px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SYC {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3195px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_SYR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -136px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TCD {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1276px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TGO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2464px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_THA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -426px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TJK {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2396px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TKM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -528px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TON {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -324px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TTO {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2923px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TUN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -919px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TUR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -579px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TUV {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -681px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TWN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -545px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_TZA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2039px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_UGA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2243px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_UKR {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -34px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_URY {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -3144px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_USA {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2311px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_UZB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1937px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_VCT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1769px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_VEN {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -443px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_VNM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2056px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_VUT {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1735px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_WSM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -170px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_YEM {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -2413px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ZAF {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1259px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ZMB {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1582px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
.flag_ZWE {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-flags-vflCQ_UO_.webp) 0 -1089px !important;
 background-size:auto !important;
 width:18px !important;
 height:13px
}
