.yt-help-icon {
 opacity:.5 !important;
 cursor:pointer !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -147px -230px !important;
 background-size:auto !important;
 width:15px !important;
 height:16px
}
.yt-help-icon:hover,
.yt-help-icon.active,
.yt-uix-helpcard-active .yt-help-icon {
 opacity:1
}
.add-to-widget .lightweight-message {
 padding:0 10px
}
.add-to-widget.yt-uix-clickcard-card-content {
 width:auto !important;
 padding:0
}
.add-to-widget .yt-scrollbar ::-webkit-scrollbar {
 width:9px
}
.add-to-widget .yt-scrollbar ::-webkit-scrollbar-thumb,
.add-to-widget .yt-scrollbar ::-webkit-scrollbar-track {
 border-left-width:0
}
.add-to-widget .menu-panel {
 display:none
}
.add-to-widget .menu-panel.active-panel {
 display:block
}
.add-to-widget .playlists {
 width:260px !important;
 max-height:245px !important;
 padding-bottom:10px !important;
 overflow-x:hidden !important;
 overflow-y:auto !important;
 border-bottom:1px solid #ccc
}
.add-to-widget .addto-playlist-item {
 position:relative !important;
 display:block !important;
 padding:0 10px !important;
 line-height:25px !important;
 color:#333 !important;
 white-space:nowrap !important;
 cursor:pointer
}
.add-to-widget .addto-playlist-item-subtitle {
 color:#adadad !important;
 margin-left:25px !important;
 width:190px !important;
 font-size:11px !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.add-to-widget .create-playlist-item {
 display:none !important;
 width:100%;
 text-align:left !important;
 padding:5px 0 5px 16px !important;
 margin:10px 0 !important;
 color:#333 !important;
 white-space:nowrap !important;
 cursor:pointer
}
.addto-playlist-item.icon-hidden {
 padding-left:16px
}
.add-to-widget .addto-playlist-item.hid {
 display:none
}
.add-to-widget .addto-playlist-item:hover,
.add-to-widget .create-playlist-item:hover,
.add-to-widget .addto-playlist-item.yt-uix-kbd-nav-highlight {
 background-color:#eee
}
.add-to-widget .addto-playlist-item .playlist-status:focus {
 outline:none
}
.add-to-widget .create-playlist-item:focus {
 outline:none !important;
 background-color:#eee
}
.add-to-widget .addto-playlist-item.pending-change-actions:hover {
 background-color:transparent
}
.add-to-widget .playlist-name {
 display:inline-block !important;
 vertical-align:middle !important;
 line-height:21px !important;
 max-width:190px !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.add-to-widget .playlist-status,
.add-to-widget .contains-all-selected-videos.to-be-removed .playlist-status,
.add-to-widget .contains-some-selected-videos.to-be-removed .playlist-status {
 margin-right:3px !important;
 vertical-align:middle !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -38px -27px !important;
 background-size:auto !important;
 width:21px !important;
 height:21px
}
.add-to-widget .contains-all-selected-videos .playlist-status,
.add-to-widget .to-be-added .playlist-status {
 margin-right:0 !important;
 vertical-align:middle !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -206px -699px !important;
 background-size:auto !important;
 width:24px !important;
 height:21px
}
.add-to-widget .contains-some-selected-videos .playlist-status {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -123px -432px !important;
 background-size:auto !important;
 width:21px !important;
 height:21px
}
.add-to-widget .loading .playlist-status,
.add-to-widget .to-be-removed.loading .playlist-status,
.add-to-widget .to-be-added.loading .playlist-status {
 margin-right:3px !important;
 vertical-align:middle !important;
 width:21px !important;
 height:21px !important;
 background:url(//s.ytimg.com/yts/img/loader-vflff1Mjj.gif) no-repeat left center
}
.add-to-widget .public-icon,
.add-to-widget .private-icon,
.add-to-widget .unlisted-icon {
 position:absolute !important;
 right:15px !important;
 top:5px !important;
 opacity:.3 !important;
 filter:alpha(opacity=30)
}
.add-to-widget .private-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -211px -122px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget .unlisted-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -76px -474px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget .public-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -918px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget .pending-change-actions .playlist-status {
 visibility:hidden
}
.add-to-widget .pending-change-actions .yt-uix-button {
 margin-right:10px
}
.add-to-widget .create-playlist-widget-form {
 position:relative !important;
 width:260px
}
.add-to-widget .addto-create-playlist-section {
 padding:15px
}
.add-to-widget .addto-search-playlist-section {
 position:relative !important;
 padding:10px 15px
}
.add-to-widget .yt-uix-form-input-text.addto-search-box {
 padding:5px 0 6px 20px
}
.add-to-widget .addto-search-playlist-section .search-icon {
 position:absolute !important;
 top:17px !important;
 left:18px !important;
 opacity:.5 !important;
 filter:alpha(opacity=50);
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -28px -66px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
.add-to-widget .addto-create-playlist-section.addto-create-playlist-bottom-section {
 position:relative !important;
 padding-top:0
}
.add-to-widget .addto-create-playlist-widget-form .yt-uix-form-label {
 margin:10px 0 !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.add-to-widget .create-playlist-widget-form .privacy-button[data-privacy-state="privacy-public"]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -918px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget .create-playlist-widget-form .privacy-button[data-privacy-state="privacy-unlisted"]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -76px -474px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget .create-playlist-widget-form .privacy-button[data-privacy-state="privacy-private"]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -211px -122px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.add-to-widget-clickcard .yt-uix-clickcard-card-body {
 overflow:visible
}
.create-playlist-widget {
 position:relative
}
.create-playlist-widget-button .yt-uix-button-arrow {
 display:none
}
.create-playlist-widget-button .add-new-pl-btn:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -130px -862px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.create-playlist-widget-dialog {
 width:auto !important;
 padding:0
}
.create-playlist-widget-form {
 width:360px
}
.create-playlist-widget-form .create-playlist-section {
 padding:15px
}
.create-playlist-widget-form .create-playlist-bottom-section {
 overflow:hidden !important;
 background-color:#f6f6f6 !important;
 min-width:250px
}
.create-playlist-widget-form .yt-uix-form-label {
 margin:10px 0 !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.create-playlist-widget-form .privacy-button {
 float:left
}
.create-playlist-widget-form .create-playlist-buttons {
 float:right
}
.create-playlist-widget-form .create-playlist-buttons .yt-uix-button {
 margin-left:10px
}
.create-playlist-widget-form .yt-uix-menu.privacy-button-container {
 position:static !important;
 width:auto
}
.create-playlist-widget-form .yt-uix-button-has-icon[data-privacy-state=privacy-public]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -918px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.create-playlist-widget-form .yt-uix-button-has-icon[data-privacy-state=privacy-unlisted]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -76px -474px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.create-playlist-widget-form .yt-uix-button-has-icon[data-privacy-state=privacy-private]:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -211px -122px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.create-playlist-widget-privacy-menu .yt-ui-menu-item.has-icon:before {
 margin-right:3px !important;
 padding-bottom:1px
}
.create-playlist-widget-privacy-menu .is-selected.has-icon:before {
 opacity:1 !important;
 filter:alpha(opacity=100)
}
#yt-uix-videoactionmenu-menu {
 padding:0 !important;
 z-index:1999999997
}
.yt-uix-menu-mask.yt-uix-videoactionmenu-mask {
 z-index:1999999996
}
#yt-uix-videoactionmenu-menu h3 {
 color:#333 !important;
 font-size:13px !important;
 font-weight:500 !important;
 padding:15px 15px 5px
}
#yt-uix-videoactionmenu-menu .add-to-widget .addto-playlist-panel {
 padding:0
}
body .addto-watch-later-button,
.addto-watch-later-button-sign-in,
.addto-watch-later-button-loading,
.addto-watch-later-button-error,
.addto-watch-later-button-success,
.addto-watch-later-button-remove {
 width:22px !important;
 height:22px !important;
 padding:0 !important;
 border-radius:2px
}
.addto-watch-later-button-error,
.addto-watch-later-button-success,
.addto-watch-later-button-remove {
 border:none
}
.addto-watch-later-button:before,
.addto-watch-later-button-sign-in:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -239px -48px !important;
 background-size:auto !important;
 width:13px !important;
 height:13px
}
.addto-watch-later-button-sign-in .yt-uix-button-arrow {
 display:none
}
.addto-watch-later-button-loading:before {
 height:20px !important;
 width:19px !important;
 background:url(//s.ytimg.com/yts/img/loader-vflff1Mjj.gif) no-repeat
}
.yt-uix-button.addto-watch-later-button-success {
 background-image:-moz-linear-gradient(top,#74a446 0,#4d7730 100%);
 background-image:-ms-linear-gradient(top,#74a446 0,#4d7730 100%);
 background-image:-o-linear-gradient(top,#74a446 0,#4d7730 100%);
 background-image:-webkit-linear-gradient(top,#74a446 0,#4d7730 100%);
 background-image:linear-gradient(to bottom,#74a446 0,#4d7730 100%);
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#74a446,EndColorStr=#4d7730)
}
.addto-watch-later-button-success:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -56px -342px !important;
 background-size:auto !important;
 width:19px !important;
 height:20px
}
.yt-uix-button.addto-watch-later-button-remove,
.yt-uix-button.addto-watch-later-button-error {
 background-image:-moz-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-ms-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-o-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-webkit-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:linear-gradient(to bottom,#c95145 0,#913d37 100%);
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c95145,EndColorStr=#913d37)
}
.addto-watch-later-button-remove:before,
.addto-watch-later-button-error:before {
 width:22px !important;
 height:22px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -242px -687px
}
#shared-addto-watch-later-login {
 padding:7px
}
.addto-watch-queue-button,
.addto-watch-queue-button-loading,
.addto-watch-queue-button-success,
.addto-watch-queue-button-error,
body .addto-tv-queue-button {
 width:22px !important;
 height:22px !important;
 padding:0 !important;
 border-radius:2px
}
.addto-watch-queue-button:before,
.addto-tv-queue-button:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -190px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.yt-uix-button.addto-watch-queue-button-loading:before {
 height:20px !important;
 background:url(//s.ytimg.com/yts/img/loader-vflff1Mjj.gif) no-repeat
}
.yt-uix-button.addto-watch-queue-button-success,
.yt-uix-button.addto-watch-queue-button-error {
 color:#fff !important;
 border:none
}
.yt-uix-button.addto-watch-queue-button-success {
 background:#167ac6
}
.addto-watch-queue-button-success:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -56px -342px !important;
 background-size:auto !important;
 width:19px !important;
 height:20px
}
.yt-uix-button.addto-watch-queue-button-error {
 background-image:-moz-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-ms-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-o-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:-webkit-linear-gradient(top,#c95145 0,#913d37 100%);
 background-image:linear-gradient(to bottom,#c95145 0,#913d37 100%);
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#c95145,EndColorStr=#913d37)
}
.addto-watch-queue-button-error:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -242px -687px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
body .addto-tv-queue-button,
.remote-connected .addto-watch-queue-button {
 display:none
}
.remote-connected .addto-tv-queue-button {
 display:inline-block
}
.remote-connected .addto-watch-later-button,
.remote-connected .addto-watch-later-button-sign-in {
 display:none
}
.thumb-menu.dark-overflow-action-menu {
 display:none !important;
 position:absolute !important;
 top:2px !important;
 right:0
}
.remote-connected .thumb-menu.dark-overflow-action-menu {
 display:block
}
.watch-queue-thumb-menu {
 list-style-type:none
}
.thumb-menu .yt-uix-button-dark-overflow-action-menu,
.thumb-menu .yt-uix-button-dark-overflow-action-menu:focus,
.thumb-menu .yt-uix-button-dark-overflow-action-menu:focus:hover {
 border:none !important;
 box-shadow:none
}
.thumb-menu.dark-overflow-action-menu .yt-uix-button {
 padding:0 5px 0 10px
}
.addto-watch-queue-menu-choice:before {
 content:'';
 vertical-align:middle !important;
 display:inline-block
}
.yt-uix-button-menu-item.addto-watch-queue-menu-choice {
 padding-left:10px
}
.addto-watch-queue-menu-text {
 vertical-align:middle !important;
 margin-left:5px
}
.addto-watch-queue-play-next:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -198px -882px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.addto-watch-queue-play-now:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -123px -122px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.addto-watch-queue-play-next:hover:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -148px -376px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
.addto-watch-queue-play-now:hover:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -173px -542px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
#masthead-positioner {
 position:fixed !important;
 top:0 !important;
 right:0 !important;
 left:0 !important;
 z-index:1999999999 !important;
 -moz-transform:translateZ(0);
 -ms-transform:translateZ(0);
 -webkit-transform:translateZ(0);
 transform:translateZ(0)
}
#masthead-positioner-height-offset {
 height:90px
}
.exp-searchbox-redesign #masthead-positioner-height-offset {
 height:96px
}
.appbar-hidden #masthead-positioner-height-offset {
 height:50px
}
.exp-searchbox-redesign.appbar-hidden #masthead-positioner-height-offset {
 height:56px
}
.sitewide-ticker-visible #masthead-positioner-height-offset {
 height:125px
}
.sitewide-consent-visible #masthead-positioner-height-offset {
 height:146px
}
.exp-searchbox-redesign.sitewide-ticker-visible #masthead-positioner-height-offset {
 height:131px
}
.sitewide-ticker-visible.appbar-hidden #masthead-positioner-height-offset {
 height:85px
}
.sitewide-consent-visible.appbar-hidden #masthead-positioner-height-offset {
 height:106px
}
.exp-searchbox-redesign.sitewide-ticker-visible.appbar-hidden #masthead-positioner-height-offset {
 height:91px
}
#masthead-ie-mask {
 position:absolute !important;
 top:0 !important;
 left:0 !important;
 height:100%;
 width:100%;
 z-index:-1
}
#masthead-appbar-container {
 overflow:hidden
}
.appbar-hidden #masthead-appbar {
 margin-top:-41px
}
.page-loaded #masthead-appbar {
 -moz-transition:margin-top .3s ease !important;
 -webkit-transition:margin-top .3s ease !important;
 transition:margin-top .3s ease
}
#masthead-appbar {
 position:relative !important;
 background-color:#fff !important;
 border-bottom:1px solid #e8e8e8 !important;
 height:40px !important;
 line-height:40px
}
#appbar-content {
 position:absolute !important;
 left:0 !important;
 right:0 !important;
 height:40px !important;
 overflow:hidden
}
.appbar-menu.yt-uix-button-menu {
 position:fixed !important;
 margin-left:2px
}
#appbar-guide-menu {
 width:230px !important;
 height:auto !important;
 max-height:100%
}
@media screen and (max-height:570px) {
 #appbar-guide-menu {
  padding-bottom:50px !important;
  outline:420px solid transparent
 }
 .sitewide-ticker-visible #appbar-guide-menu {
  padding-bottom:85px
 }
 .sitewide-consent-visible #appbar-guide-menu {
  padding-bottom:106px
 }
}
#appbar-guide-menu {
 overflow:hidden
}
#appbar-guide-menu:hover {
 overflow-y:auto
}
.appbar-guide-menu-layout {
 margin-top:50px
}
.exp-searchbox-redesign .appbar-guide-menu-layout {
 margin-top:56px
}
#appbar-guide-menu,
.guide-flyout {
 -moz-box-sizing:border-box !important;
 box-sizing:border-box !important;
 background:#fff !important;
 z-index:1999999999
}
.sitewide-ticker-visible #appbar-guide-menu {
 margin-top:85px
}
.sitewide-consent-visible #appbar-guide-menu {
 margin-top:106px
}
#appbar-guide-iframe-mask {
 top:0 !important;
 z-index:1999999998
}
.appbar-guide-menu-layout {
 position:fixed !important;
 width:230px !important;
 top:0 !important;
 visibility:hidden !important;
 left:-230px !important;
 opacity:0 !important;
 -moz-transition:opacity .1s,visibility 0s .1s !important;
 -webkit-transition:opacity .1s,visibility 0s .1s !important;
 transition:opacity .1s,visibility 0s .1s
}
.show-guide .appbar-guide-menu-layout {
 visibility:visible !important;
 left:0 !important;
 opacity:1 !important;
 -moz-transition:opacity .1s !important;
 -webkit-transition:opacity .1s !important;
 transition:opacity .1s
}
.show-guide #appbar-guide-menu {
 box-shadow:5px 10px 15px 5px rgba(0,0,0,.1)
}
.guide-pinned .guide-pinning-enabled .appbar-guide-menu-layout {
 height:100%;
 bottom:0
}
.guide-pinned .guide-pinning-enabled #appbar-guide-menu {
 border-right:1px solid #e8e8e8 !important;
 box-shadow:none
}
#appbar-guide-button {
 display:inline-block !important;
 margin-left:-7px !important;
 height:30px
}
#appbar-guide-button:focus,
#appbar-guide-button:hover {
 background:transparent !important;
 border-color:transparent !important;
 box-shadow:none
}
.yt-uix-button-icon-appbar-guide {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -198px -862px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
#masthead-positioner:hover .yt-uix-button-icon-appbar-guide {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -57px -646px !important;
 background-size:auto !important;
 width:16px !important;
 height:16px
}
#guide-container {
 width:230px !important;
 padding:13px 22px !important;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box
}
#appbar-guide-menu .guide-section-separator {
 margin:8px 0
}
#appbar-guide-menu #guide-subscriptions-promo.default-promo {
 margin-right:0
}
#appbar-primary-container {
 float:left
}
#appbar-secondary-container {
 float:right
}
#appbar-primary-container #appbar-guide-button {
 margin-top:-4px
}
#appbar-nav {
 min-width:500px !important;
 text-align:center !important;
 -moz-transition:margin-top .1s !important;
 -webkit-transition:margin-top .1s !important;
 transition:margin-top .1s
}
#appbar-nav .appbar-nav-avatar {
 margin-right:15px !important;
 vertical-align:middle
}
#appbar-nav .appbar-nav-menu {
 overflow:hidden !important;
 display:inline-block !important;
 vertical-align:top
}
.appbar-nav-menu li {
 margin-left:30px !important;
 display:inline-block
}
.appbar-nav-menu li:first-child {
 margin-left:0
}
#appbar-nav .epic-nav-item-heading {
 height:40px !important;
 padding:0 !important;
 line-height:40px !important;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box
}
#appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item {
 height:40px !important;
 padding:0 !important;
 line-height:40px !important;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box !important;
 font-weight:normal !important;
 color:#666
}
.yt-uix-button.yt-uix-button-appbar {
 border-color:#d3d3d3 !important;
 background:#fff !important;
 color:#666 !important;
 font-size:13px !important;
 height:26px
}
.yt-uix-button.yt-uix-button-appbar:hover {
 border-color:#c6c6c6 !important;
 background:#f0f0f0 !important;
 color:#333 !important;
 box-shadow:0 1px 0 rgba(0,0,0,0.10)
}
.yt-uix-button.yt-uix-button-appbar:active,
.yt-uix-button.yt-uix-button-appbar.yt-uix-button-toggled,
.yt-uix-button.yt-uix-button-appbar.yt-uix-button-active,
.yt-uix-button.yt-uix-button-appbar.yt-uix-button-active:focus {
 border-color:#c6c6c6 !important;
 background:#e9e9e9 !important;
 box-shadow:inset 0 1px 0 #ddd
}
.yt-uix-button.yt-uix-button-appbar.yt-uix-button-toggled:hover {
 border-color:#b9b9b9 !important;
 background:#e5e5e5 !important;
 box-shadow:inset 0 1px 0 #ddd
}
#appbar-main-guide-notification-container {
 position:absolute !important;
 top:40px !important;
 left:0 !important;
 z-index:1
}
.appbar-guide-notification {
 background:#167ac6 !important;
 color:#fff !important;
 font-weight:500 !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.appbar-guide-notification-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -82px -838px !important;
 background-size:auto !important;
 width:12px !important;
 height:10px
}
.appbar-guide-notification .appbar-guide-notification-icon {
 margin-right:10px
}
#appbar-main-guide-notification-container .appbar-guide-notification {
 overflow:hidden !important;
 vertical-align:top !important;
 -moz-transition:height .3s linear .1s !important;
 -webkit-transition:height .3s linear .1s !important;
 transition:height .3s linear .1s
}
#appbar-main-guide-notification-container .appbar-guide-notification-content-wrapper {
 height:30px !important;
 display:block
}
#appbar-main-guide-notification-container .appbar-guide-notification {
 padding:0 10px !important;
 display:inline-block
}
.show-guide-button-notification #appbar-main-guide-notification-container .appbar-guide-notification {
 height:30px
}
#appbar-main-guide-notification-container .appbar-guide-notification,
.show-guide #appbar-main-guide-notification-container .appbar-guide-notification,
.show-guide .show-guide-button-notification #appbar-main-guide-notification-container .appbar-guide-notification {
 height:0
}
.guide-notification-item {
 max-height:40px !important;
 overflow:hidden !important;
 position:relative
}
.guide-notification-item .appbar-guide-notification {
 position:absolute !important;
 top:0 !important;
 left:0 !important;
 right:0 !important;
 bottom:0 !important;
 padding:0 10px
}
.guide-notification-item.polymer-guide-notification-item-height {
 max-height:48px
}
.guide-notification-item.show-insertion-notification {
 -moz-animation:guide-item-fadein 2s !important;
 -webkit-animation:guide-item-fadein 2s !important;
 animation:guide-item-fadein 2s
}
.guide-notification-item.show-insertion-notification .guide-item-insertion-notification {
 opacity:0 !important;
 max-height:0 !important;
 -moz-animation:guide-notification-fadeout 2s !important;
 -webkit-animation:guide-notification-fadeout 2s !important;
 animation:guide-notification-fadeout 2s
}
@keyframes guide-item-fadein {
 0% {
  max-height:0 !important;
  opacity:0
 }
 30% {
  max-height:40px !important;
  opacity:1
 }
}
@-webkit-keyframes guide-item-fadein {
 0% {
  max-height:0 !important;
  opacity:0
 }
 30% {
  max-height:40px !important;
  opacity:1
 }
}
@keyframes guide-notification-fadeout {
 0% {
  opacity:1 !important;
  max-height:40px
 }
 80% {
  opacity:1
 }
 99% {
  max-height:40px
 }
 to {
  opacity:0 !important;
  max-height:0
 }
}
@-webkit-keyframes guide-notification-fadeout {
 0% {
  opacity:1 !important;
  max-height:40px
 }
 80% {
  opacity:1
 }
 99% {
  max-height:40px
 }
 to {
  opacity:0 !important;
  max-height:0
 }
}
.guide-notification-item.removing-guide-item {
 max-height:0 !important;
 -moz-transition:max-height .3s 1s !important;
 -webkit-transition:max-height .3s 1s !important;
 transition:max-height .3s 1s
}
.guide-notification-item .guide-item-update-notification,
.guide-notification-item .guide-item-removal-notification {
 opacity:0 !important;
 max-height:0 !important;
 -moz-transition:opacity .3s !important;
 -webkit-transition:opacity .3s !important;
 transition:opacity .3s
}
.guide-notification-item.showing-update-notification .guide-item-update-notification,
.guide-notification-item.removing-guide-item .guide-item-removal-notification {
 opacity:1 !important;
 max-height:30px
}
.background-promo-renderer {
 width:240px !important;
 margin:70px auto !important;
 text-align:center
}
.background-promo-renderer-thumbnail {
 margin-bottom:24px
}
.background-promo-renderer-title {
 margin-bottom:16px !important;
 color:#333 !important;
 font-size:15px !important;
 font-weight:500
}
.background-promo-renderer-body-text {
 color:#666
}
body #footer-container {
 margin-top:-145px !important;
 background-color:#fff !important;
 border-top:1px solid #e2e2e2
}
#footer {
 margin:0 auto !important;
 padding:15px 0
}
#footer-logo,
#footer .pickers,
#footer .pickers li,
#footer #google-help {
 display:inline-block
}
#footer #google-help .yt-uix-button-content {
 vertical-align:middle
}
#footer .yt-uix-button-group .yt-uix-button {
 border-radius:2px
}
#footer-logo {
 margin-left:4px
}
#footer-logo .footer-logo-icon {
 vertical-align:middle !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -217px -218px !important;
 background-size:auto !important;
 width:73px !important;
 height:30px
}
#footer-main {
 border-bottom:1px solid #e2e2e2 !important;
 padding-bottom:15px
}
#footer-logo,
#footer .pickers li,
#footer .footer-history {
 margin-right:14px
}
#footer .yt-picker-button-label {
 font-weight:normal
}
#footer .yt-picker {
 margin:10px 0
}
#footer-links {
 padding:15px 0 15px 8px
}
#footer-links li {
 display:inline !important;
 margin-right:15px
}
#footer-links-primary {
 margin-bottom:8px !important;
 font-weight:500
}
#footer-links-primary a {
 color:#333
}
#footer-links-primary a:hover {
 color:#167ac6
}
#footer-links-secondary a,
#footer-links-secondary .vat-notice,
#footer-links-secondary .copyright {
 color:#666 !important;
 font-size:11px
}
#footer-links-secondary a {
 font-weight:500
}
#footer-links-secondary a:hover {
 color:#167ac6
}
#footer .yt-picker {
 padding:20px !important;
 box-shadow:none !important;
 border-radius:0
}
#footer .yt-uix-button-icon-footer-language {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -666px !important;
 background-size:auto !important;
 width:25px !important;
 height:15px
}
#footer .yt-uix-button-icon-questionmark {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -147px -230px !important;
 background-size:auto !important;
 width:15px !important;
 height:16px
}
#footer .yt-uix-button-icon-footer-history {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -213px -605px !important;
 background-size:auto !important;
 width:12px !important;
 height:15px
}
.yt-content-owner-icon.yt-content-owner-color-0 {
 background-color:#443393
}
.yt-content-owner-icon.yt-content-owner-color-1 {
 background-color:#b21f70
}
.yt-content-owner-icon.yt-content-owner-color-2 {
 background-color:#e57a27
}
.yt-content-owner-icon.yt-content-owner-color-3 {
 background-color:#e5bc24
}
.yt-content-owner-icon.yt-content-owner-color-4 {
 background-color:#0e9151
}
.yt-content-owner-icon.yt-content-owner-color-5 {
 background-color:#287ec2
}
.yt-content-owner-color-0 .agent-mode-sidebar {
 border-color:#443393
}
.yt-content-owner-color-1 .agent-mode-sidebar {
 border-color:#b21f70
}
.yt-content-owner-color-2 .agent-mode-sidebar {
 border-color:#e57a27
}
.yt-content-owner-color-3 .agent-mode-sidebar {
 border-color:#e5bc24
}
.yt-content-owner-color-4 .agent-mode-sidebar {
 border-color:#0e9151
}
.yt-content-owner-color-5 .agent-mode-sidebar {
 border-color:#287ec2
}
.browse-items-load-more-button {
 display:block
}
#yt-masthead {
 margin:0 auto
}
@media screen and (max-width:656px) {
 #yt-masthead {
  width:426px
 }
}
#yt-masthead-container {
 background:#fff !important;
 border-bottom:1px solid #e8e8e8 !important;
 min-width:0 !important;
 padding-bottom:8px !important;
 padding-top:7px !important;
 position:relative
}
.exp-searchbox-redesign #yt-masthead-container {
 height:40px !important;
 padding-bottom:8px !important;
 padding-top:8px
}
#yt-masthead-content {
 overflow:hidden
}
.exp-searchbox-redesign #yt-masthead-content:hover {
 cursor:text
}
#masthead,
#masthead-subnav {
 width:970px
}
#masthead-subnav ul {
 margin:0
}
#masthead {
 font-size:13px !important;
 height:40px !important;
 margin:0 auto !important;
 overflow:hidden !important;
 padding:10px 0 !important;
 position:relative
}
#masthead .selected {
 color:#000 !important;
 cursor:default !important;
 font-weight:500 !important;
 text-decoration:none
}
#signin-passive {
 display:none
}
#flash-upgrade {
 margin-top:15px
}
#logo-container:focus,
#masthead-nav a:focus,
#masthead-user-wrapper:focus,
#masthead-gaia-user-wrapper:focus,
#masthead-gaia-photo-wrapper:focus {
 background:none !important;
 border-color:transparent
}
#yt-masthead .yt-masthead-logo-container {
 float:left !important;
 margin-top:3px !important;
 position:relative !important;
 width:200px
}
#yt-masthead .yt-masthead-logo-container #logo-container {
 font-size:0 !important;
 display:inline-block !important;
 position:relative !important;
 vertical-align:middle
}
#yt-masthead #logo-container {
 margin-right:5px
}
#yt-masthead #logo-container:hover {
 text-decoration:none
}
#yt-masthead #logo-container .logo {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -217px -218px !important;
 background-size:auto !important;
 width:73px !important;
 height:30px
}
#yt-masthead #logo-container .logo-red {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -147px -342px !important;
 background-size:auto !important;
 width:102px !important;
 height:30px
}
#yt-masthead #yt-masthead-logo-container.doodle {
 margin-right:61px
}
#yt-masthead #logo-container.doodle img {
 background:none !important;
 width:110px
}
#yt-masthead #logo-container span.content-region {
 color:#767676 !important;
 font-size:11px !important;
 font-weight:normal !important;
 position:absolute !important;
 text-decoration:none
}
.skip-nav {
 position:absolute !important;
 top:-106px
}
@media screen and (max-width:656px) {
 #yt-masthead .yt-masthead-logo-container {
  width:auto
 }
 #yt-masthead #logo-container .logo {
  background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -195px -27px !important;
  background-size:auto !important;
  width:40px !important;
  height:28px
 }
}
#ticker {
 height:35px !important;
 margin-top:0 !important;
 display:none
}
.sitewide-ticker-visible #ticker {
 display:block
}
.sitewide-ticker-visible #ticker[data-trigger-condition="TRIGGER_CONDITION_ENABLE_NOTIFICATIONS_PROMPT"] {
 display:none
}
.sitewide-ticker-visible #ticker[data-trigger-condition="TRIGGER_CONDITION_ENABLE_NOTIFICATIONS_PROMPT"].show {
 display:block
}
#ticker.has-arrow .yt-alert-buttons {
 padding-left:0
}
#ticker.has-arrow .ticker-arrow-down {
 margin:0 -9px -10px 10px !important;
 vertical-align:middle !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-gplusoptin-vflwbsRX_.webp) -570px -91px !important;
 background-size:auto !important;
 width:20px !important;
 height:21px
}
#ticker .ticker-righthand-content {
 float:right
}
@media screen and (max-width:656px) {
 #ticker.has-arrow .ticker-righthand-content {
  display:none
 }
}
#masthead-search {
 margin-top:3px !important;
 max-width:650px !important;
 overflow:hidden !important;
 padding:0 !important;
 position:relative
}
.exp-searchbox-redesign #masthead-search {
 background-color:#f5f5f5 !important;
 height:40px !important;
 margin-top:0 !important;
 margin-left:auto !important;
 margin-right:auto !important;
 max-width:570px
}
.exp-searchbox-redesign #yt-masthead-container:hover #masthead-search:before {
 opacity:1
}
.exp-searchbox-redesign #masthead-search:before {
 content:'';
 display:inline-block !important;
 float:left !important;
 margin:0 28px !important;
 opacity:.6 !important;
 position:relative !important;
 top:12px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -28px -66px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
#masthead-search-term::-webkit-input-placeholder {
 color:#767676
}
#masthead-search-term::-moz-placeholder {
 color:#767676
}
#masthead-search-term:-ms-input-placeholder {
 color:#767676
}
#masthead-search-terms {
 background-color:#fff !important;
 font-size:14px !important;
 height:29px !important;
 line-height:30px !important;
 margin:0 0 2px !important;
 overflow:hidden !important;
 position:relative !important;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box !important;
 -moz-transition:border-color .2s ease !important;
 -webkit-transition:border-color .2s ease !important;
 transition:border-color .2s ease
}
.exp-searchbox-redesign #masthead-search-terms {
 background-color:transparent !important;
 height:24px !important;
 line-height:24px !important;
 margin:8px 8px 8px 0
}
#masthead-search .search-btn-component {
 height:29px
}
#masthead-search.consolidated-form #masthead-search-terms label {
 height:100%
}
.masthead-search-terms-border {
 border:1px solid #ccc !important;
 box-shadow:inset 0 1px 2px #eee
}
.exp-searchbox-redesign .masthead-search-terms-border {
 border:none !important;
 box-shadow:none
}
#masthead-search-terms input {
 background:transparent !important;
 border:0 !important;
 display:inline-block !important;
 font-size:16px !important;
 height:100%;
 left:0 !important;
 margin:0 !important;
 outline:none !important;
 padding:2px 6px !important;
 position:absolute !important;
 width:100%;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box
}
.exp-searchbox-redesign #masthead-search-terms input {
 padding:0
}
.search-term {
 width:100%
}
#masthead-search.consolidated-form input:focus,
#masthead-search-term:focus {
 border-color:#fff
}
.search-btn-component {
 padding:0
}
.exp-searchbox-redesign .search-btn-component {
 display:none
}
.search-btn-component:focus {
 box-shadow:inset 0 0 0 2px rgba(27,127,204,0.4)
}
.no-focus-outline #masthead-search .search-btn-component:focus {
 box-shadow:none
}
#yt-masthead .search-btn-component .yt-uix-button-content {
 margin:0 25px
}
@media screen and (max-width:656px) {
 #yt-masthead .search-btn-component .yt-uix-button-content {
  margin:0 10px
 }
}
#masthead-search .search-btn-component {
 float:right
}
#masthead-search .search-btn-component button {
 vertical-align:top
}
#masthead-search .search-btn-component .yt-uix-button-content {
 border:none !important;
 display:block !important;
 opacity:.6 !important;
 padding:0 !important;
 text-indent:-10000px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -28px -66px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px !important;
 box-shadow:none
}
#masthead-search .search-btn-component:hover .yt-uix-button-content,
#masthead-search .search-btn-component:focus .yt-uix-button-content {
 opacity:1
}
#masthead-search .search-btn-component,
#masthead-search .search-btn-component .start {
 border-left:0 !important;
 -moz-border-radius-topleft:0 !important;
 border-top-left-radius:0 !important;
 -moz-border-radius-bottomleft:0 !important;
 border-bottom-left-radius:0
}
#yt-masthead-creation-menu {
 display:inline
}
#yt-masthead-creation-button {
 background:none !important;
 border:none !important;
 margin:0 15px 0 0 !important;
 position:relative !important;
 text-align:center !important;
 width:32px !important;
 box-shadow:none
}
#yt-masthead-creation-button:before {
 opacity:.75 !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -685px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.yt-masthead-creation-clickcard .yt-uix-clickcard-card-content {
 max-height:136px !important;
 padding:8px 0 !important;
 width:210px
}
.yt-masthead-creation-clickcard a.yt-uix-button {
 background:none !important;
 border:0 none !important;
 box-shadow:none !important;
 display:block !important;
 height:40px !important;
 padding:6px 16px
}
.yt-masthead-creation-clickcard a.yt-uix-button:hover {
 background-color:#f5f5f5
}
.yt-masthead-creation-clickcard a.yt-uix-button .yt-uix-button-icon-wrapper {
 width:48px
}
.yt-masthead-creation-clickcard a.yt-uix-button .yt-uix-button-icon-wrapper .yt-uix-button-icon {
 opacity:1
}
.yt-masthead-creation-clickcard a.yt-uix-button .yt-uix-button-content {
 font-size:14px !important;
 font-weight:400
}
.yt-masthead-creation-clickcard .yt-uix-card-border-arrow,
.yt-masthead-creation-clickcard .yt-uix-card-body-arrow {
 display:none
}
.yt-uix-button-icon-creation-live {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -129px -918px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.yt-uix-button-icon-creation-post {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -62px -146px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.yt-uix-button-icon-creation-upload {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -265px -848px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
#upload-button-menu .upload-menu-item,
#appbar-settings-menu .upload-menu-item {
 padding-left:30px !important;
 position:relative !important;
 text-align:left !important;
 width:100%;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box
}
#upload-button-menu .upload-menu-item .icon-container {
 bottom:0 !important;
 left:10px !important;
 position:absolute !important;
 top:0
}
#appbar-settings-menu .upload-menu-item .icon-container {
 bottom:0 !important;
 left:10px !important;
 position:absolute !important;
 top:0 !important;
 font-size:0
}
#upload-button-menu .yt-uix-button-google-help,
#appbar-settings-menu .yt-uix-button-google-help {
 border:none !important;
 font-weight:normal !important;
 box-shadow:none !important;
 border-radius:0
}
.upload-menu-vm-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -253px -342px !important;
 background-size:auto !important;
 width:10px !important;
 height:11px
}
.upload-menu-item:hover .upload-menu-vm-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -112px -27px !important;
 background-size:auto !important;
 width:10px !important;
 height:11px
}
.upload-menu-dashboard-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -68px -775px !important;
 background-size:auto !important;
 width:11px !important;
 height:10px
}
.upload-menu-item:hover .upload-menu-dashboard-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -278px !important;
 background-size:auto !important;
 width:11px !important;
 height:10px
}
.upload-menu-analytics-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -261px -563px !important;
 background-size:auto !important;
 width:11px !important;
 height:11px
}
.upload-menu-item:hover .upload-menu-analytics-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -267px -749px !important;
 background-size:auto !important;
 width:11px !important;
 height:11px
}
.upload-menu-account-settings-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -80px -94px !important;
 background-size:auto !important;
 width:11px !important;
 height:11px
}
.upload-menu-item:hover .upload-menu-account-settings-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -278px -605px !important;
 background-size:auto !important;
 width:11px !important;
 height:11px
}
.yt-uix-button-icon-material-upload {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -125px -314px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
#yt-masthead-signin {
 float:right !important;
 margin-left:25px !important;
 margin-top:3px
}
.signin-container,
.notifications-container {
 display:inline-block
}
#yt-masthead-user {
 color:#555 !important;
 float:right !important;
 margin-left:50px !important;
 margin-top:3px
}
.exp-searchbox-redesign #yt-masthead-signin,
.exp-searchbox-redesign #yt-masthead-user {
 margin-top:6px
}
#yt-masthead-user .yt-masthead-user-icon {
 border-radius:50%;
 cursor:pointer !important;
 overflow:hidden !important;
 padding:0
}
@media screen and (max-width:656px) {
 #yt-masthead-user {
  margin-left:10px
 }
 #upload-btn,
 #yt-masthead-creation-button {
  display:none
 }
}
#upload-btn {
 margin-right:15px
}
#upload-btn.signed-out-inbox-enabled {
 margin-right:0 !important;
 padding-right:0
}
#upload-btn.yt-uix-button-has-icon {
 border:0
}
#upload-btn .yt-uix-button-content {
 vertical-align:middle
}
#yt-masthead-signin #yt-masthead-notifications.signed-out-inbox-enabled {
 display:inline-block
}
#yt-masthead-signin #yt-masthead-notifications {
 margin-left:0 !important;
 margin-right:5px
}
#sb-button-notify,
#yt-masthead-notifications-button {
 background:none !important;
 border:none !important;
 margin:0 10px 0 5px !important;
 position:relative !important;
 text-align:center !important;
 width:32px !important;
 box-shadow:none
}
@media screen and (max-width:656px) {
 #sb-button-notify,
 #yt-masthead-notifications-button {
  display:none
 }
}
#sb-button-notify:focus,
#yt-masthead-notifications-button:focus {
 box-shadow:0 0 0 2px rgba(27,127,204,0.4)
}
.no-focus-outline #sb-button-notify:focus,
.no-focus-outline #yt-masthead-notifications-button:focus {
 box-shadow:none
}
.sb-notif-on .yt-uix-button-icon-bell {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -121px -605px !important;
 background-size:auto !important;
 width:30px !important;
 height:30px
}
.yt-uix-button-icon-bell {
 left:0 !important;
 position:absolute !important;
 top:-2px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -161px -27px !important;
 background-size:auto !important;
 width:30px !important;
 height:30px
}
#yt-masthead-notifications .yt-uix-button-icon-bell {
 left:5px
}
.sb-notif-off .yt-uix-button-content {
 display:none
}
.sb-notif-on .yt-uix-button-content {
 background:#cb4437 !important;
 border-bottom:1px solid #fff !important;
 border-left:1px solid #fff !important;
 color:#fff !important;
 left:14px !important;
 line-height:15px !important;
 min-width:15px !important;
 opacity:1 !important;
 position:absolute !important;
 text-align:center !important;
 top:-2px !important;
 z-index:100 !important;
 border-radius:2px
}
#yt-masthead-notifications .sb-notif-on .yt-uix-button-content {
 left:19px
}
#sb-wrapper {
 margin:0 auto !important;
 position:relative !important;
 width:100%
}
#sb-onepick-target {
 background-color:#f6f5f6 !important;
 border:1px solid #bebebe !important;
 height:650px !important;
 left:35px !important;
 overflow:hidden !important;
 position:absolute !important;
 visibility:visible !important;
 width:900px !important;
 box-shadow:0 4px 16px rgba(0,0,0,.199219)
}
#sb-onepick-target iframe {
 height:100%;
 overflow:hidden
}
.sb-card {
 position:absolute !important;
 right:13px !important;
 top:60px
}
.sitewide-ticker-visible .sb-card {
 top:85px
}
.sb-card-arrow,
.sb-card-body-arrow {
 background:none repeat scroll 0 0 transparent !important;
 border:12px solid transparent !important;
 bottom:auto !important;
 height:0 !important;
 left:auto !important;
 position:absolute !important;
 right:68px !important;
 top:-22px !important;
 vertical-align:top !important;
 width:0
}
.sb-card-arrow {
 border-bottom-color:#bbb !important;
 margin-bottom:-1px !important;
 margin-top:-1px
}
.sb-card-body-arrow {
 border-bottom-color:#e5e5e5
}
.sb-card-border {
 background:none repeat scroll 0 0 #fff !important;
 border:1px solid #bbb !important;
 float:left !important;
 box-shadow:0 0 5px #bbb
}
.sb-card-content {
 width:440px
}
.sb-on {
 background:#fff !important;
 display:block !important;
 float:left !important;
 z-index:1100010 !important;
 box-shadow:0 2px 1px #aaa
}
.sb-off {
 background:transparent !important;
 display:none !important;
 box-shadow:none
}
.yt-masthead-user-icon,
.yt-masthead-user-icon:hover {
 box-shadow:none
}
.yt-masthead-account-picker.yt-uix-clickcard-card-content {
 color:#000 !important;
 font-size:13px !important;
 min-width:270px !important;
 overflow:hidden !important;
 padding:0 !important;
 width:auto
}
.yt-masthead-account-notification {
 background-color:#fef9db !important;
 color:#000 !important;
 font-size:11px !important;
 padding:10px 15px
}
.yt-masthead-account-notification a {
 color:#36c !important;
 display:block
}
.yt-masthead-picker-header {
 border-bottom:1px solid rgba(0,0,0,0.2);
 padding:10px 15px
}
.yt-masthead-account-picker .yt-masthead-picker-header {
 border-bottom:none
}
.yt-masthead-account-picker .yt-masthead-picker-header-status {
 border-bottom:1px solid rgba(0,0,0,0.2);
 color:#999 !important;
 font-size:11px !important;
 font-weight:500 !important;
 margin-top:-5px !important;
 padding:0 15px 5px !important;
 text-transform:uppercase
}
.yt-uix-clickcard-card.yt-masthead-multilogin .yt-masthead-picker-header-status {
 color:#dadada !important;
 background-color:#999 !important;
 font-size:10px !important;
 font-weight:500 !important;
 margin-top:-5px !important;
 padding:0 15px 5px !important;
 text-transform:uppercase
}
.yt-masthead-multilogin-users {
 max-height:215px !important;
 overflow-y:auto
}
@media (max-height:410px) {
 .yt-masthead-account-picker.yt-uix-clickcard-card-content {
  max-height:175px !important;
  overflow-y:auto
 }
}
@media (min-height:410px) and (max-height:660px) {
 .yt-masthead-multilogin-users {
  max-height:85px
 }
}
@media (min-height:660px) and (max-height:780px) {
 .yt-masthead-multilogin-users {
  max-height:335px
 }
}
@media (min-height:780px) and (max-height:1000px) {
 .yt-masthead-multilogin-users {
  max-height:455px
 }
}
@media (min-height:1000px) {
 .yt-masthead-multilogin-users {
  max-height:775px
 }
}
.yt-uix-clickcard-card.yt-masthead-multilogin .yt-masthead-picker-header,
.yt-uix-clickcard-card.yt-masthead-multilogin .yt-masthead-multilogin-users-header {
 background-color:#999 !important;
 border-bottom:none !important;
 color:#fff !important;
 font-size:11px !important;
 font-weight:500 !important;
 padding:5px 15px !important;
 text-transform:uppercase
}
a.yt-masthead-picker-active-account {
 color:inherit !important;
 display:block !important;
 text-decoration:none !important;
 white-space:nowrap
}
a.yt-masthead-account-picker-option {
 display:block !important;
 text-decoration:none !important;
 white-space:nowrap
}
a.yt-masthead-picker-active-account:hover {
 text-decoration:underline
}
.yt-masthead-picker-body {
 margin:15px !important;
 white-space:nowrap
}
.yt-masthead-content-owner-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -370px !important;
 background-size:auto !important;
 width:27px !important;
 height:27px
}
.yt-masthead-picker-content-owner-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -47px -218px !important;
 background-size:auto !important;
 width:36px !important;
 height:36px
}
.yt-masthead-picker-content-owner-active-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -143px -122px !important;
 background-size:auto !important;
 width:64px !important;
 height:64px
}
.yt-masthead-picker-photo-wrapper {
 margin-right:10px !important;
 position:relative
}
.yt-masthead-picker-photo-wrapper .yt-thumb {
 background-color:transparent
}
.yt-masthead-picker-photo-wrapper img {
 border-radius:50%
}
.yt-masthead-picker-photo-wrapper,
.yt-masthead-picker-info {
 display:inline-block !important;
 vertical-align:top
}
.yt-masthead-picker-photo-change {
 background-color:rgba(0,0,0,0.4);
 bottom:0 !important;
 color:#fff !important;
 font-size:9px !important;
 font-weight:500 !important;
 left:0 !important;
 line-height:9px !important;
 padding:5px 0 !important;
 position:absolute !important;
 text-align:center !important;
 width:64px !important;
 display:none
}
.yt-masthead-picker-name {
 font-weight:500 !important;
 margin-bottom:1px
}
.yt-masthead-picker-content-owner-name {
 padding:6px 0
}
.yt-masthead-picker-account-subtitle {
 color:#999 !important;
 margin-bottom:7px
}
.yt-masthead-picker-button {
 height:24px
}
.yt-masthead-picker-button-primary {
 margin-right:5px
}
.yt-masthead-picker-settings-button {
 padding:0 4px
}
.yt-masthead-picker-button-single {
 text-align:center !important;
 width:100%
}
.yt-uix-button-icon-icon-account-settings {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -99px -163px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.yt-masthead-account-picker-option {
 background:#f5f5f5 !important;
 border-top:1px solid rgba(0,0,0,0.1);
 padding:10px 15px
}
.yt-masthead-picker-footer {
 background:#f5f5f5 !important;
 border-top:1px solid rgba(0,0,0,0.1);
 padding:10px 15px !important;
 overflow:hidden
}
.yt-masthead-account-picker-option:hover {
 background:#eee !important;
 text-decoration:none
}
.yt-masthead-account-picker-option .yt-masthead-picker-photo-wrapper {
 margin-right:6px
}
.yt-masthead-account-picker-option .yt-masthead-picker-info {
 vertical-align:middle
}
.yt-masthead-account-picker-option .yt-masthead-picker-name {
 color:#000 !important;
 font-weight:normal
}
.yt-masthead-picker-footer .yt-masthead-picker-button {
 float:left !important;
 height:28px
}
.yt-masthead-picker-footer .yt-masthead-picker-button:last-child {
 float:right
}
.yt-uix-clickcard-card.yt-masthead-multilogin .yt-uix-card-body-arrow {
 border-bottom-color:#999
}
.yt-uix-clickcard-card.yt-masthead-domain-notification .yt-uix-card-body-arrow {
 border-bottom-color:#fef9db
}
#yt-masthead-notifications-clickcard {
 padding:0 !important;
 width:450px !important;
 max-height:400px
}
#yt-masthead-notifications-header {
 padding:15px !important;
 font-weight:500
}
#yt-masthead-notifications-title {
 vertical-align:middle !important;
 color:#333
}
#yt-masthead-notifications-settings {
 position:absolute !important;
 top:10px !important;
 right:1px
}
#yt-masthead-notifications-content {
 height:353px !important;
 overflow:auto !important;
 background:#f5f5f5
}
#yt-masthead-notifications-content .item-section>li>.yt-lockup-tile,
#yt-masthead-notifications-content .yt-ui-ellipsis {
 background:#f5f5f5
}
#yt-masthead-notifications-content .item-section>li>.yt-lockup-tile {
 border-bottom:1px solid rgba(0,0,0,0.1)
}
#yt-masthead-notifications-content .item-section>li:last-child>.yt-lockup-tile {
 border-bottom:0
}
#yt-masthead-notifications-content .item-section>li>.yt-lockup-tile:hover,
#yt-masthead-notifications-content .yt-lockup-tile:hover .yt-ui-ellipsis {
 background:#eee !important;
 text-decoration:none
}
#yt-masthead-high-priority-notification-content,
#yt-masthead-high-priority-notification-img-wrapper,
#yt-masthead-high-priority-notification-img,
#yt-masthead-high-priority-notification-link-wrapper,
#yt-masthead-high-priority-notification-link {
 display:none
}
.yt-notification-inbox-clickcard {
 -moz-transition:opacity .2s ease-in !important;
 -webkit-transition:opacity .2s ease-in !important;
 transition:opacity .2s ease-in !important;
 opacity:0
}
.yt-uix-clickcard-card-visible.yt-notification-inbox-clickcard {
 opacity:1
}
.yt-high-priority-notification#yt-masthead-notifications-clickcard {
 width:350px !important;
 max-height:none
}
.yt-high-priority-notification #yt-masthead-high-priority-notification-content {
 display:block
}
.yt-high-priority-notification #yt-masthead-high-priority-notification-img-wrapper {
 display:block !important;
 float:left !important;
 height:100%
}
.yt-high-priority-notification #yt-masthead-high-priority-notification-img {
 display:block !important;
 padding:10px
}
.yt-high-priority-notification #yt-masthead-high-priority-notification-link {
 padding:10px !important;
 display:block
}
.yt-high-priority-notification #yt-masthead-notifications-header,
.yt-high-priority-notification #yt-masthead-notifications-title,
.yt-high-priority-notification #yt-masthead-notifications-settings,
.yt-high-priority-notification #yt-masthead-notifications-content {
 display:none
}
.yt-high-priority-notification .yt-lockup-content {
 margin-right:0
}
.yt-high-priority-notification a:hover,
.yt-high-priority-notification a {
 text-decoration:none !important;
 outline:none
}
.browse-items-load-more-button {
 display:block !important;
 margin:20px auto !important;
 clear:both
}
@media only screen and (min-width:0px) and (max-width:498px),only screen and (min-width:499px) and (max-width:704px) {
 .exp-responsive #yt-masthead {
  padding-left:18px !important;
  padding-right:18px !important;
  width:402px
 }
 .exp-responsive #yt-masthead .yt-masthead-logo-container {
  width:auto
 }
 .exp-responsive #yt-masthead #logo-container {
  background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -195px -27px !important;
  background-size:auto !important;
  width:40px !important;
  height:28px
 }
 .exp-responsive #yt-masthead #logo-container .logo,
 .exp-responsive #yt-masthead #logo-container .doodle,
 .exp-responsive #yt-masthead #logo-container .logo-red,
 .exp-responsive #yt-masthead #logo-container .content-region,
 .exp-responsive #ticker.has-arrow .ticker-righthand-content {
  display:none
 }
 .exp-responsive #yt-masthead .search-btn-component .yt-uix-button-content {
  margin:0 10px
 }
 .exp-responsive #yt-masthead-user {
  margin-left:10px
 }
 .exp-responsive #upload-btn,
 .exp-responsive #yt-masthead-user #sb-button-notify,
 .exp-responsive #yt-masthead-notifications-button {
  display:none
 }
}
.yt-uix-button-hover-action-menu {
 border:none !important;
 padding:0 !important;
 height:auto !important;
 opacity:0 !important;
 filter:alpha(opacity=0);
 background:transparent !important;
 cursor:pointer !important;
 padding-bottom:3px !important;
 box-shadow:none
}
.yt-uix-button-hover-action-menu:focus,
.yt-uix-button-hover-action-menu:focus:hover {
 box-shadow:none
}
.yt-uix-button-icon-hover-action-menu,
.yt-uix-button-active .yt-uix-button-icon-hover-action-menu {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -38px -900px !important;
 background-size:auto !important;
 width:13px !important;
 height:13px
}
.hover-action-menu-trigger .yt-uix-button-hover-action-menu.yt-uix-button-active,
.hover-action-menu-trigger:hover .yt-uix-button-hover-action-menu {
 opacity:.8 !important;
 filter:alpha(opacity=100)
}
.yt-uix-button-hover-action-menu .yt-uix-button-arrow,
.yt-uix-button-dark-overflow-action-menu .yt-uix-button-arrow {
 display:none
}
.yt-uix-button-dark-overflow-action-menu:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -79px -342px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
.yt-uix-button-dark-overflow-action-menu.yt-uix-button-active:before,
.yt-uix-button-dark-overflow-action-menu:hover:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -175px -563px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
.yt-uix-button-menu-dark-overflow-action-menu {
 background-color:#fff !important;
 border-color:#ccc
}
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item {
 color:#333
}
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item:hover {
 color:#fff !important;
 background-color:#333
}
#player.off-screen #player-mole-container.video-mole,
#player #player-mole-container.watch-mole {
 position:fixed !important;
 bottom:0 !important;
 right:60px !important;
 z-index:1999999995 !important;
 box-shadow:0 0 17px 3px rgba(0,0,0,0.17)
}
#watch-queue-mole.video-mole {
 position:fixed !important;
 bottom:0 !important;
 right:60px !important;
 width:363px !important;
 z-index:1999999995 !important;
 box-shadow:0 0 17px 3px rgba(0,0,0,0.17)
}
#player.off-screen #player-mole-container.video-mole #watch-queue-mole.video-mole,
#player #player-mole-container.watch-mole #watch-queue-mole.video-mole {
 position:static
}
#player.off-screen #player-mole-container.video-mole,
#player.off-screen #player-mole-container.video-mole .player-width,
#player #player-mole-container.watch-mole,
#player #player-mole-container.watch-mole .player-width {
 width:363px !important;
 min-width:363px
}
#player.off-screen #player-mole-container.video-mole #player-api,
#player #player-mole-container.watch-mole #player-api {
 float:none !important;
}
#player.off-screen #player-mole-container.video-mole .player-height,
#player #player-mole-container.watch-mole .player-height {
 height:205px
}
#watch-queue {
 -moz-user-select:none !important;
 -ms-user-select:none !important;
 -webkit-user-select:none
}
.watch-queue-info {
 display:none
}
.video-mole .watch-playlist {
 min-height:0 !important;
 height:auto !important;
 margin-bottom:0 !important;
 margin-left:0 !important;
}
#player-playlist .watch-queue-info {
 display:block !important;
 font-size:11px !important;
 line-height:1.5 !important;
 padding:15px 5px 8px !important;
 height:37px
}
.watch-queue-info .watch-queue-info-icon {
 float:left !important;
 margin-top:10px !important;
 margin-right:10px !important;
 opacity:.55
}
.watch-queue-info .tv-queue-list-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -173px -314px !important;
 background-size:auto !important;
 width:28px !important;
 height:22px
}
.watch-queue-info .tv-queue-details {
 color:#767676 !important;
 font-size:11px
}
#watch-queue .watch-queue-header {
 background:#1a1a1a !important;
 padding:0 10px
}
#watch-queue .watch-queue-control-bar,
#watch-queue .autoplay-dismiss-bar {
 display:block !important;
 color:#fff !important;
 border:0 !important;
 cursor:pointer !important;
 font-weight:500 !important;
 font-size:11px !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 border-top:1px solid #3a3a3a
}
#watch-queue .watch-queue-control-bar {
 height:24px !important;
 padding:7px 5px 8px
}
.autoplay-dismiss-bar {
 overflow:hidden !important;
 padding:0 !important;
 height:40px !important;
 -moz-transition:height .5s ease-out !important;
 -webkit-transition:height .5s ease-out !important;
 transition:height .5s ease-out
}
.autoplay-dismiss-bar.fade-out {
 height:0
}
.autoplay-dismiss-bar .autoplay-dismiss-title-label {
 position:relative !important;
 cursor:pointer !important;
 font-size:12px !important;
 float:left !important;
 padding:12px 5px
}
.autoplay-dismiss-bar .autoplay-dismiss-button {
 position:relative !important;
 color:#4182ef !important;
 cursor:pointer !important;
 font-size:15px !important;
 float:right !important;
 padding:10px 5px !important;
 text-transform:uppercase
}
#watch-queue-mole #watch-queue .watch-queue-control-bar {
 padding-right:0
}
.watch-queue-mole-info {
 float:left
}
#player-playlist #watch-queue .watch-queue-mole-info {
 display:none
}
.watch-queue-mole-info .watch-queue-control-bar-icon {
 float:left !important;
 margin-right:10px
}
#watch-queue .watch-queue-control-bar .watch-queue-icon {
 opacity:.4 !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -123px -725px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
#watch-queue .watch-queue-header:hover .watch-queue-control-bar .watch-queue-icon,
.mole-expanded #watch-queue .watch-queue-control-bar .watch-queue-icon {
 opacity:.85
}
#watch-queue .watch-queue-control-bar .watch-queue-title-container {
 display:table !important;
 float:left !important;
 height:24px !important;
 line-height:24px !important;
 text-overflow:ellipsis !important;
 overflow:hidden
}
#watch-queue .watch-queue-control-bar .watch-queue-title,
#watch-queue .watch-queue-control-bar .tv-queue-title,
#watch-queue .watch-queue-control-bar .watch-queue-count {
 display:block !important;
 text-overflow:ellipsis !important;
 overflow:hidden
}
#watch-queue .watch-queue-control-bar .watch-queue-title,
#watch-queue .watch-queue-control-bar .tv-queue-title {
 float:left
}
#watch-queue .watch-queue-control-bar .watch-queue-title,
#watch-queue .watch-queue-control-bar .tv-queue-title {
 font-size:15px !important;
 font-weight:normal !important;
 padding-bottom:2px !important;
 max-width:150px
}
#watch-queue .watch-queue-info .watch-queue-title,
#watch-queue .watch-queue-info .tv-queue-title {
 color:#fff !important;
 font-size:15px !important;
 font-weight:normal !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
#watch-queue .watch-queue-control-bar .tv-queue-title,
#watch-queue .watch-queue-info .tv-queue-title {
 display:none
}
.remote-connected #watch-queue .watch-queue-control-bar .tv-queue-title,
.remote-connected #watch-queue .watch-queue-info .tv-queue-title {
 display:block
}
.remote-connected #watch-queue .watch-queue-control-bar .watch-queue-title,
.remote-connected #watch-queue .watch-queue-info .watch-queue-title {
 display:none
}
.watch-queue-control-bar .watch-queue-count {
 font-size:11px !important;
 color:#767676 !important;
 float:right !important;
 margin-left:10px
}
.watch-queue-control-bar .yt-uix-button {
 padding:0
}
#watch-queue-mole .watch-queue-controls {
 text-align:right
}
#watch-queue-mole .watch-queue-controls .yt-uix-button:last-child {
 margin-right:5px
}
#watch-queue .watch-queue-controls .yt-uix-button {
 margin-left:10px
}
#watch-queue .watch-queue-controls .yt-uix-button:first-child {
 margin-left:0
}
.watch-queue-controls .yt-uix-button-icon-watch-queue-prev,
.rtl .watch-queue-controls .yt-uix-button-icon-watch-queue-next {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -24px -843px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.watch-queue-controls .yt-uix-button-icon-watch-queue-next,
.rtl .watch-queue-controls .yt-uix-button-icon-watch-queue-prev {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -211px -142px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.watch-queue-controls .yt-uix-button-icon-watch-queue-play {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -119px -190px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
.watch-queue-controls .yt-uix-button-icon-watch-queue-pause {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -243px -190px !important;
 background-size:auto !important;
 width:24px !important;
 height:24px
}
#player-playlist .watch-queue-controls .play-watch-queue-button,
#player-playlist .watch-queue-controls .pause-watch-queue-button,
#player-playlist .autoplay-dismiss-bar {
 display:none
}
.watch-queue-item-actions .yt-uix-button-icon-watch-queue-expand-video {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -314px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
#watch-queue-save-as-playlist-widget {
 float:left !important;
 width:0 !important;
 overflow:hidden
}
.watch-queue-control-bar .dark-overflow-action-menu {
 float:right
}
.watch-queue-control-bar .dark-overflow-action-menu>.yt-uix-button {
 padding:0 1px
}
#watch-queue .playlist-videos-list {
 counter-reset:watch-queue-video-section !important;
 overflow:hidden !important;
 background-color:#222 !important;
 -moz-transition:max-height .3s ease-out !important;
 -webkit-transition:max-height .3s ease-out !important;
 transition:max-height .3s ease-out
}
#watch-queue-mole #watch-queue .playlist-videos-list {
 position:relative
}
.mole-collapsed.mole-notification #watch-queue .playlist-videos-list {
 max-height:15px
}
#watch-queue-mole .playlist-videos-list {
 max-height:0
}
#watch-queue-mole.mole-expanded .playlist-videos-list {
 max-height:318px
}
#watch-queue .playlist-videos-list:hover {
 overflow:auto
}
#watch-queue .watch-queue-items-list .yt-spinner,
.watch-queue-sections .yt-spinner {
 color:#fff !important;
 margin-top:100px
}
.watch-queue-items-list>li,
.up-next-item-container {
 max-height:100px !important;
 overflow:hidden !important;
 color:#fff !important;
 padding:10px 10px 10px 0 !important;
 -moz-transition:max-height .5s ease-out !important;
 -webkit-transition:max-height .5s ease-out !important;
 transition:max-height .5s ease-out
}
.watch-queue-items-list>li,
.watch-queue-items-list>li .yt-ui-ellipsis,
.up-next-item-container,
.up-next-item-container .yt-ui-ellipsis {
 background-color:#222
}
.watch-queue-items-list>li.fade-out,
.up-next-item-container.fade-out {
 max-height:0
}
.watch-queue-items-list>li.fade-in,
.up-next-item-container.fade-in {
 max-height:0 !important;
 padding:0 !important;
 -moz-transition:none !important;
 -webkit-transition:none !important;
 transition:none
}
.watch-queue-items-list>li:before {
 color:#333 !important;
 counter-increment:watch-queue-video-section !important;
 content:counter(watch-queue-video-section);
 float:left !important;
 line-height:41px !important;
 margin:0 2px !important;
 width:24px !important;
 font-size:10px !important;
 text-align:center
}
.up-next-item-container .watch-queue-item {
 margin-left:28px
}
.watch-queue-items-list>li.currently-playing,
.watch-queue-items-list>li.currently-playing .yt-ui-ellipsis {
 background-color:#3a3a3a
}
.watch-queue-items-list>li:hover,
.watch-queue-items-list>li:hover .yt-ui-ellipsis,
.up-next-item-container:hover,
.up-next-item-container:hover .yt-ui-ellipsis,
#player-playlist .playlist-videos-list>.up-next-item-container:hover .yt-ui-ellipsis {
 background-color:#525252
}
.watch-queue-items-list>li.currently-playing:before {
 content:'\0025b6';
 line-height:40px !important;
 color:#c03636
}
.playlist-videos-list .watch-queue-video {
 cursor:pointer !important;
 display:block !important;
 position:relative !important;
 height:41px
}
.watch-queue-items-list .yt-uix-button,
.watch-queue-sections .yt-uix-button {
 border-radius:0 !important;
 border:0
}
.watch-queue-video .video-thumb {
 float:left !important;
 margin-right:8px !important;
 margin-left:0
}
.watch-queue-items-list .currently-playing .watch-queue-video .video-thumb {
 margin-left:0 !important;
 border:2px solid #c03636 !important;
 -moz-box-sizing:border-box !important;
 box-sizing:border-box
}
.playlist-videos-list .watch-queue-video-description {
 position:relative !important;
 top:-2px !important;
 overflow:hidden
}
.playlist-videos-list .watch-queue-video h4 {
 color:#cacaca !important;
 font-size:13px !important;
 font-weight:normal !important;
 line-height:1.1em
}
.playlist-videos-list .watch-queue-video h4.yt-ui-ellipsis-2 {
 max-height:2.2em
}
.playlist-videos-list .watch-queue-video h4.yt-ui-ellipsis-2::before {
 top:1.1em
}
.playlist-videos-list .video-uploader-byline {
 font-size:11px !important;
 color:#767676
}
.playlist-videos-list .watch-queue-video:hover {
 text-decoration:none
}
.watch-queue-item .watch-queue-item-actions {
 float:right !important;
 margin-top:-5px !important;
 position:relative !important;
 z-index:1
}
.watch-queue-item .dark-overflow-action-menu,
.watch-queue-item .remove-item-watch-queue-button,
.watch-queue-item .expand-video-watch-queue-button {
 display:none
}
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item.disabled,
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item.disabled:hover {
 background-color:transparent !important;
 color:#666 !important;
 cursor:default
}
.watch-queue-item:hover .dark-overflow-action-menu,
.currently-playing.watch-queue-item:hover .expand-video-watch-queue-button,
.watch-queue-item:hover:not(.currently-playing) .remove-item-watch-queue-button {
 display:inline
}
#player-playlist .currently-playing.watch-queue-item:hover .expand-video-watch-queue-button {
 display:none
}
.watch-queue-item .dark-overflow-action-menu {
 right:3px !important;
 top:0
}
.watch-queue-item .expand-video-watch-queue-button,
.watch-queue-item .remove-item-watch-queue-button {
 top:0 !important;
 padding:0 1px 0 5px !important;
 margin-top:2px
}
.watch-queue-item .yt-uix-button-dark-overflow-action-menu {
 padding:0
}
#watch-queue .autoplay-control-container {
 background-color:#222 !important;
 display:block !important;
 overflow:hidden !important;
 position:relative
}
#watch-queue .autoplay-control-container .autoplay-control-bar {
 height:30px !important;
 padding:8px 15px !important;
 position:relative
}
.autoplay-control-bar .autoplay-label {
 color:#fff !important;
 font-size:15px !important;
 height:30px !important;
 opacity:.85 !important;
 position:absolute !important;
 top:12px !important;
 width:100%
}
.autoplay-control-bar .yt-uix-form-input-checkbox-container {
 float:right
}
.autoplay-control-bar .yt-uix-form-input-checkbox-container .yt-uix-form-input-paper-toggle-bar {
 background-color:#686868
}
.autoplay-control-bar .yt-uix-form-input-checkbox-container .yt-uix-form-input-paper-toggle-button {
 background-color:#bdbdbd
}
.autoplay-control-bar .yt-uix-form-input-checkbox-container.checked .yt-uix-form-input-paper-toggle-bar {
 background-color:#345182
}
.autoplay-control-bar .yt-uix-form-input-checkbox-container.checked .yt-uix-form-input-paper-toggle-button {
 background-color:#4182ef
}
