.yt-uix-button-hover-action-menu {
 border:none !important;
 padding:0 !important;
 height:auto !important;
 opacity:0 !important;
 filter:alpha(opacity=0);
 background:transparent !important;
 cursor:pointer !important;
 padding-bottom:3px !important;
 box-shadow:none
}
.yt-uix-button-hover-action-menu:focus,
.yt-uix-button-hover-action-menu:focus:hover {
 box-shadow:none
}
.yt-uix-button-icon-hover-action-menu,
.yt-uix-button-active .yt-uix-button-icon-hover-action-menu {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -38px -900px !important;
 background-size:auto !important;
 width:13px !important;
 height:13px
}
.hover-action-menu-trigger .yt-uix-button-hover-action-menu.yt-uix-button-active,
.hover-action-menu-trigger:hover .yt-uix-button-hover-action-menu {
 opacity:.8 !important;
 filter:alpha(opacity=100)
}
.yt-uix-button-hover-action-menu .yt-uix-button-arrow,
.yt-uix-button-dark-overflow-action-menu .yt-uix-button-arrow {
 display:none
}
.yt-uix-button-dark-overflow-action-menu:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -79px -342px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
.yt-uix-button-dark-overflow-action-menu.yt-uix-button-active:before,
.yt-uix-button-dark-overflow-action-menu:hover:before {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -175px -563px !important;
 background-size:auto !important;
 width:15px !important;
 height:15px
}
.yt-uix-button-menu-dark-overflow-action-menu {
 background-color:#fff !important;
 border-color:#ccc
}
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item {
 color:#333
}
.yt-uix-button-menu-dark-overflow-action-menu .yt-uix-button-menu-item:hover {
 color:#fff !important;
 background-color:#333
}
.yt-scrollbar ::-webkit-scrollbar {
 width:9px !important;
 height:9px
}
.yt-scrollbar ::-webkit-scrollbar-thumb {
 background:#ccc
}
.yt-scrollbar ::-webkit-scrollbar-thumb:hover {
 background:#777
}
.yt-scrollbar-dark ::-webkit-scrollbar {
 width:10px !important;
 height:9px
}
.yt-scrollbar-dark ::-webkit-scrollbar-track {
 border-left-color:#434343 !important;
 background:#434343 !important;
 -webkit-box-shadow:inset 0 0 1px #434343
}
.yt-scrollbar-dark ::-webkit-scrollbar-thumb {
 border-left-color:#8e8e8e !important;
 background:#8e8e8e
}
.yt-scrollbar-dark ::-webkit-scrollbar-track:hover {
 -webkit-box-shadow:inset 0 0 1px #000
}
.yt-scrollbar-dark ::-webkit-scrollbar-thumb:hover {
 background:#1b1b1b
}
.yt-scrollbar-wide ::-webkit-scrollbar {
 width:18px
}
.branded-page #content {
 width:auto
}
.guide-header p {
 margin:10px 0
}
.guide-header h3 {
 padding-right:0 !important;
 font-weight:normal
}
.display-name:hover {
 text-decoration:none
}
.signup-promo {
 padding:7px 17px 18px
}
.guide-section.signup-promo {
 padding:0 !important;
 line-height:1.3em
}
#guide-subscription-suggestions-section {
 margin-bottom:0
}
.guide-footer {
 padding:15px 12px 0 !important;
 font-size:11px
}
a.guide-item {
 text-decoration:none
}
.guide-item .guide-my-channel-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -401px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-my-channel-icon,
.guide-item.guide-item-selected .guide-my-channel-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -57px -605px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-history-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -195px -190px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-history-icon,
.guide-item.guide-item-selected .guide-history-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -219px -190px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-movies-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -267px -775px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-movies-icon,
.guide-item.guide-item-selected .guide-movies-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -106px -838px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-music-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -29px -701px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-music-icon,
.guide-item.guide-item-selected .guide-music-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -188px -918px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-watch-later-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -243px -775px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-watch-later-icon,
.guide-item.guide-item-selected .guide-watch-later-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -217px -252px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-unlimited-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -24px -871px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-unlimited-icon,
.guide-item.guide-item-selected .guide-unlimited-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -171px -66px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-video-youtube-red-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -62px -122px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-video-youtube-red-icon,
.guide-item.guide-item-selected .guide-video-youtube-red-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -232px -511px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-youtube-red-originals-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -71px -66px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-unplugged-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -55px -918px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-unplugged-icon,
.guide-item.guide-item-selected .guide-unplugged-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -242px -663px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-uploads-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -90px -789px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-uploads-icon,
.guide-item.guide-item-selected .guide-uploads-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -563px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-purchases-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -99px -725px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-purchases-icon,
.guide-item.guide-item-selected .guide-purchases-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -243px -94px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-what-to-watch-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -63px -27px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-what-to-watch-icon,
.guide-item.guide-item-selected .guide-what-to-watch-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -56px -94px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-my-subscriptions-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -82px -852px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-my-subscriptions-icon,
.guide-item.guide-item-selected .guide-my-subscriptions-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -207px -278px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-playlists-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -189px -396px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-playlists-icon,
.guide-item.guide-item-selected .guide-playlists-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -819px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-social-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -243px -824px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-social-icon,
.guide-item.guide-item-selected .guide-social-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -795px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-builder-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -625px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-builder-icon,
.guide-item.guide-item-selected .guide-builder-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -47px -66px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-subscription-manager-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -106px -862px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-subscription-manager-icon,
.guide-item.guide-item-selected .guide-subscription-manager-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -130px -838px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-likes-playlist-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -240px -376px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-likes-playlist-icon,
.guide-item.guide-item-selected .guide-likes-playlist-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -31px -918px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-mix-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -261px -252px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-mix-icon,
.guide-item.guide-item-selected .guide-mix-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -151px -94px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item .guide-trending-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) 0 -843px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item:hover .guide-trending-icon,
.guide-item.guide-item-selected .guide-trending-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -52px -432px !important;
 background-size:auto !important;
 width:20px !important;
 height:20px
}
.guide-item,
.guide-view-more {
 display:block !important;
 position:relative !important;
 border:none !important;
 height:28px !important;
 background:none !important;
 font-size:13px
}
button.guide-view-more {
 width:100%
}
.guide-item {
 color:#222
}
.guide-item.has-subtitle {
 height:36px
}
.guide-item {
 outline-offset:-5px !important;
 overflow:hidden
}
.page-loaded .guide-item {
 -moz-transition:height .4s ease !important;
 -webkit-transition:height .4s ease !important;
 transition:height .4s ease
}
.guide-item.guide-item-collapsed {
 height:0
}
.guide-item:hover {
 text-decoration:none
}
.guide-channels-list .guide-view-all a {
 width:160px !important;
 color:#767676 !important;
 font-size:11px !important;
 text-align:center !important;
 display:inline-block
}
.guide-view-more {
 color:#767676 !important;
 padding-left:35px !important;
 text-align:left
}
.guide-item-subtitle {
 color:#767676 !important;
 margin-left:35px !important;
 width:140px !important;
 font-size:11px !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.guide-item-selected .guide-item-subtitle {
 color:#fff
}
#guide .yt-deemphasized-text {
 color:#767676
}
.guide-flyout-trigger.on-hover,
.guide-item:hover,
.guide-item:hover .yt-deemphasized-text,
.guide-collapsible-item .yt-uix-expander-head:hover {
 background:#444 !important;
 color:#fff
}
.guide-item.guide-item-selected,
.guide-item.guide-item-selected:hover,
.guide-item.guide-item-selected .yt-deemphasized-text,
.guide-item.guide-item-selected:hover .yt-deemphasized-text {
 background:#cc181e !important;
 color:#fff
}
#guide-container .guide-item.guide-item-selected {
 font-weight:500 !important;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.25)
}
.guide-item .display-name {
 display:inline-block !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.ie .guide-item .display-name span {
 line-height:24px
}
.guide-item .display-name {
 width:110px !important;
 margin-left:6px !important;
 line-height:20px
}
.guide-item .guide-count,
.guide-badge-live {
 position:absolute !important;
 right:6px !important;
 padding:0 4px !important;
 height:100%;
 background:none
}
.guide-item .guide-count {
 color:#767676 !important;
 font-size:11px
}
.guide-item.guide-item-selected .guide-count {
 font-weight:normal !important;
 color:#fff
}
.guide-item:hover .guide-count {
 color:#fff
}
.guide-badge-live .yt-valign-container {
 background:#e62117 !important;
 height:8px !important;
 width:8px !important;
 border-radius:4px
}
.guide-flyout-container {
 position:relative
}
.guide-flyout {
 border:1px solid #e3e3e3 !important;
 padding:12px !important;
 box-shadow:5px 10px 15px 5px rgba(0,0,0,.1)
}
.guide-flyout-visibility {
 width:210px !important;
 position:fixed !important;
 bottom:0 !important;
 left:0 !important;
 visibility:hidden
}
.guide-flyout-visibility.flyout-shown {
 visibility:visible
}
.guide-flyout-iframe-mask {
 z-index:1999999998
}
.guide-flyout-container .guide-channels-list {
 min-height:0
}
.guide-flyout-view-more-icon {
 margin-left:2px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -41px -620px !important;
 background-size:auto !important;
 width:4px !important;
 height:7px
}
.rtl .guide-flyout-view-more-icon {
 margin-left:2px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -166px -234px !important;
 background-size:auto !important;
 width:4px !important;
 height:7px
}
.guide-flyout-trigger.on-hover .guide-flyout-view-more-icon,
.guide-flyout-trigger.guide-item-selected .guide-flyout-view-more-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -165px -511px !important;
 background-size:auto !important;
 width:4px !important;
 height:7px
}
.rtl .guide-flyout-trigger.on-hover .guide-flyout-view-more-icon,
.rtl .guide-flyout-trigger.guide-item-selected .guide-flyout-view-more-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -142px -789px !important;
 background-size:auto !important;
 width:4px !important;
 height:7px
}
#guide-channels {
 width:auto
}
.guide-section-separator {
 margin:8px 15px 8px 4px !important;
 border-bottom:1px solid #e2e2e2
}
#branded-page-header-container {
 overflow:visible !important;
 -moz-border-radius-topleft:0 !important;
 border-top-left-radius:0
}
#guide-container.channels {
 z-index:2
}
.guide-item .thumb {
 margin-left:6px !important;
 margin-right:0 !important;
 vertical-align:bottom
}
.guide-item .display-name {
 vertical-align:bottom
}
.guide-channels-content {
 position:relative
}
.guide-channels-list {
 position:relative !important;
 clear:both !important;
 overflow-x:hidden !important;
 overflow-y:hidden !important;
 width:197px
}
.guide-channels-list:hover {
 overflow-y:auto
}
.guide-channels-list .yt-spinner {
 font-size:11px
}
.guide-channels-list .guide-channel.yt-uix-expander {
 height:auto
}
.guide-channels-list .guide-channel a {
 position:relative
}
.guide-channels-list .guide-item {
 width:184px
}
.guide-channels-list a.guide-item {
 display:block !important;
 white-space:nowrap
}
.guide-item .display-name.no-count {
 width:140px
}
.polymer-guide-item-height {
 height:48px
}
#guide-subscriptions-promo.default-promo {
 margin-right:10px !important;
 padding:5px !important;
 border:1px solid #ccc !important;
 opacity:.6 !important;
 filter:alpha(opacity=60);
 cursor:pointer !important;
 -moz-border-radius-topleft:3px !important;
 border-top-left-radius:3px
}
#guide-subscriptions-promo.default-promo:hover {
 opacity:1 !important;
 filter:alpha(opacity=100)
}
.guide-subscriptions-promo-tooltip {
 display:none !important;
 position:absolute !important;
 top:0 !important;
 bottom:0 !important;
 left:0 !important;
 right:0 !important;
 border:1px solid #5f8fbf !important;
 border-top:1px solid #6f9fcf !important;
 margin:0 !important;
 font-size:11px !important;
 text-align:center !important;
 background:#6898c9 !important;
 color:#fff !important;
 opacity:.97 !important;
 filter:alpha(opacity=97);
 -moz-border-radius-bottomleft:2px !important;
 border-bottom-left-radius:2px !important;
 -moz-border-radius-bottomright:2px !important;
 border-bottom-right-radius:2px
}
.guide-subscriptions-promo-tooltip p {
 position:absolute !important;
 top:50%;
 margin:-30px 15px 0 !important;
 font-size:12px !important;
 font-weight:500 !important;
 text-shadow:0 1px rgba(1,1,1,.5)
}
.filter-match {
 font-weight:500 !important;
 color:#000
}
.guide-item:hover .filter-match {
 color:#fff
}
#guide-subscriptions-section:hover .guide-subscriptions-promo-tooltip {
 display:block
}
#guide-subscriptions-section:hover #guide-subscriptions-promo .yt-uix-button {
 -moz-border-radius-bottomleft:0 !important;
 border-bottom-left-radius:0 !important;
 -moz-border-radius-bottomright:0 !important;
 border-bottom-right-radius:0
}
#guide-subscriptions-promo .subscriptions-wrapper {
 position:relative
}
#guide-subscriptions-promo .yt-uix-button {
 display:block !important;
 text-align:center
}
#guide-subscriptions-section {
 position:relative
}
li.guide-section h3 {
 margin:0 5px !important;
 padding:1px 0 8px !important;
 line-height:13px !important;
 font-size:11px !important;
 font-weight:500 !important;
 text-transform:uppercase !important;
 width:155px !important;
 color:#cc181e !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis !important;
 display:block
}
li.guide-section h3 a {
 width:155px !important;
 color:#cc181e !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis !important;
 display:block
}
li.guide-section.without-filter h3,
li.guide-section.without-filter h3 a {
 width:135px
}
#guide-manage-section {
 margin-bottom:0
}
.guide-sort-container {
 margin:0 !important;
 float:right
}
.guide-sort-container .yt-uix-button-menu .yt-uix-button-menu-item {
 padding-left:23px
}
.guide-item .system-icon {
 height:18px !important;
 width:18px !important;
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -232px -535px
}
.guide-header .guide-item a:hover {
 text-decoration:none
}
.guide-channel.yt-uix-expander {
 position:relative
}
.subscription-picker-header {
 display:inherit !important;
 border-bottom:1px solid #dcdcdc
}
.subscription-picker-header .yt-uix-button-epic-nav-item {
 margin-left:7px !important;
 margin-right:7px
}
.subscription-search-container {
 float:right
}
.subscription-search {
 vertical-align:middle !important;
 display:inline-block
}
.subscription-search-input {
 width:150px !important;
 font-size:1em
}
.subscription-search-clear {
 visibility:hidden !important;
 position:relative !important;
 top:3px !important;
 right:22px !important;
 vertical-align:middle
}
.subscription-search-clear .clear-icon {
 background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflHFLZLR.webp) -121px -691px !important;
 background-size:auto !important;
 width:14px !important;
 height:13px
}
.yt-dialog .subscription-picker-list-container,
.yt-dialog .selected-channel-list-container {
 position:relative !important;
 height:300px !important;
 width:650px
}
.yt-dialog .subscription-picker-list {
 max-height:300px !important;
 overflow:hidden
}
.yt-dialog .subscription-picker-list:hover {
 overflow-y:auto
}
.subscription-list-item {
 float:left !important;
 cursor:pointer !important;
 width:88px !important;
 margin:2px !important;
 padding:5px 5px 40px !important;
 border:1px transparent solid
}
.subscription-list-item:hover {
 background-color:#f6f6f6 !important;
 border-color:#cecece !important;
 border-radius:2px
}
.subscription-list-item .qualified-channel-title {
 margin-top:4px !important;
 text-align:center !important;
 line-height:1.2em !important;
 font-size:12px !important;
 font-weight:500
}
.subscription-list-item .thumb-wrapper {
 position:relative
}
.subscription-list-item .thumb {
 margin:0
}
.subscription-picker-list-container .subscription-list-item.selected.saved {
 display:none
}
.subscription-list-item .add-badge,
.subscription-list-item .added-badge,
.subscription-list-item .remove-badge {
 display:none !important;
 position:absolute !important;
 left:0 !important;
 bottom:0 !important;
 padding:3px 0 !important;
 width:100%;
 font-weight:500 !important;
 background-color:#000 !important;
 opacity:.8 !important;
 filter:alpha(opacity=80);
 color:#fff !important;
 text-align:center !important;
 overflow:hidden !important;
 white-space:nowrap !important;
 word-wrap:normal !important;
 -o-text-overflow:ellipsis !important;
 text-overflow:ellipsis
}
.subscription-list-item:not(.selected):hover .add-badge,
.subscription-list-item.selected:hover .remove-badge,
.subscription-list-item.selected:not(:hover) .added-badge {
 display:inherit
}
